/*
 *Cart Block
 */
#block-commerce-cart-cart{
  .b_title_cont{
    background: $color1;
    padding: 10px 10px 10px 10px;
    color: $WHITE;
    margin:0;
    .block__title{
      @include fontelloBefore;
      &:before{
        content:'\e814';
      }
    }
  }
  .block__content .cart-contents{
    .view-id-commerce_cart_block.view-display-id-default{
      .view-content{
        background-color:$LIGHTGRAY;
        padding:10px 0;
        tbody, tr{
          display:block;
          width:100%;
          background:none;
          td{
            padding: 5px 15px;
          }
        }
      }
      .view-footer{
        background-color:$GRAYC;
        @include clearfix;
        .line-item-quantity{
          margin-left:15px;
          padding: 8px 0 14px 0;
          display:block;
          float:left;
        }
        .line-item-total{
          margin-right:15px;
          padding: 8px 0 14px 0;
          display:block;
          float:right;
        }
        ul.links--inline{
          margin-top:10px;
          @include clearfix;
          li.line-item-summary-view-cart,
          li.line-item-summary-checkout{
            display:inline-block;
            float:right;
            margin-right:15px;
            a{
              color:$WHITE;
              padding:10px 15px;
            }
          }
          li.line-item-summary-view-cart{
            a{
              background-color:$colorWPink;
            }
          }
          li.line-item-summary-checkout{
            a{
              background-color:$colorWGreen;
            }
          }
        }
      }
    }
  }
}
body.page-cart, body.page-checkout{
  #block-commerce-cart-cart{
    display:none;
  }
}
body.page-cart, body.page-checkout{
  //title
  .mainPageTitle {
    background: $color1;
    padding: 10px 15px 10px 15px;
    color: $WHITE;
    margin: 0;
    @include fontelloBefore;
    &:before {
      content: '\e814';
    }
  }
  //adjustments
  legend, .checkout-help{
    @include accesibleHide;
  }
  .commerce-checkout-form-checkout{
    overflow-x:hidden;
  }
  .cart_contents.form-wrapper{
    width:100%;
    max-width:100%;
    min-width:100%;
  }
  //views
  .view-id-commerce_cart_form.view-display-id-default,
  .view-id-commerce_cart_summary.view-display-id-default{
    .view-content{
      background-color:$LIGHTGRAY;
      padding:30px 0 10px 0;
      text-align:center;
      table{
        display:inline-block;
        @include breakpoint($breakpointTabletP1){
          //a centered inline-table doesn't allow us to do a responsive table (overflow-x auto)
          //we need this on smaller resolutions
          //on larger resolutions we can center the table
          display:inline-table;
        }
        max-width:85%;
      }
      tbody, tr{
        background:none;
        td,th{
          padding: 5px 10px;
          min-width:100px;
        }
      }
      tr{
        border-bottom: 2px solid $GRAYC;
      }
    }
    //cart form view
    .line-item-summary{
      margin-top:15px;
      text-align: center;
      @include remFontSize($fontL);
      .line-item-total{
        display:inline-block;
      }
    }
    //cart summary view
    .view-footer {
      background-color:$LIGHTGRAY;
      .commerce-order-handler-area-order-total{
        padding-top: 15px;
        text-align: center;
        @include remFontSize($fontL);
        .field--name-commerce-order-total {
          display:inline-block;
          .commerce-price-formatted-components {
            width: 100%;
            tr{
              background-color:$LIGHTGRAY;
            }
          }
        }
      }
    }
    //
    .commerce-line-item-actions{
      text-align:center;
      padding-left:20px;
      padding-right:20px;
      #edit-submit{
        background-color: $colorWPink;
        border:0;
      }
      #edit-checkout{
        background-color: $colorWGreen;
        border:0;
      }
    }
  }
  //cart summary - coupon codes
  .commerce_coupon.form-wrapper{
    background-color:$GRAYC;
    padding: 15px 25px;
    text-align:center;
    .form-item-commerce-coupon-coupon-code {
      text-align:center;
      input{
        @include remFontSize($fontM);
        @include remLineHeight(2*$fontM);
        @include remHeight(2*$fontM);
        width: 52%;
        @include breakpoint(0 $breakpointTablet){
          width:90%;
        }
        padding: 0 1%;
        display:inline-block;
      }
      .description{
        @include remFontSize($fontXS);
        @include remLineHeight(2*$fontXS);
        @include remHeight(2*$fontXS);
        width: 52%;
        @include breakpoint(0 $breakpointTablet){
          width:90%;
        }
        padding: 0 1%;
        display:inline-block;
      }
    }
    input[type="submit"]{
      max-width:25%;
      @include breakpoint(0 $breakpointTablet){
        max-width:75%;
      }
      display:inline-block;
    }
  }
  //billing profile
  .customer_profile_billing.form-wrapper{
    background-color:$LIGHTGRAY;
    .fieldset-wrapper{
      padding:15px 25px;
      text-align:center;
      .form-item{
        display:inline-block;
        min-width: 100%;
      }
      .SlectBox{
        @include remFontSize($fontM);
        @include remLineHeight(2*$fontM);
        @include remHeight(2*$fontM);
      }
      input[type="text"]{
        @include remFontSize($fontM);
        @include remLineHeight(2*$fontM);
        @include remHeight(2*$fontM);
        width: 52%;
        @include breakpoint(0 $breakpointTablet){
          width:90%;
        }
        padding: 0 1%;
        display:inline-block;
      }
    }
  }
  //bottom checkout buttons

  .checkout-buttons.form-wrapper{
    .button-operator{
      display:none !important;
    }
    text-align:center;
    input{
      display:inline-block;
    }
    input.checkout-continue{
      background-color:$color3;
      border:1px solid $color3;
    }
    input.checkout-cancel, input.checkout-back{
      background-color:$colorWPink;
      border:1px solid $colorWPink;
    }
  }
}
body.page-checkout-review{
  .checkout_review.form-wrapper{
    padding: 10px;
    background-color:$LIGHTGRAY;
    text-align:center;
    table.checkout-review{
      > tbody >tr{
        background:none !important;
        display:inline-block;
      }
      > tbody, > tbody tr.pane-data, > tbody tr.pane-data > td{
        display:block;
        padding:0;
      }
    }
  }
  .commerce_payment.form-wrapper{
    padding: 10px;
    text-align: center;
    background: $GRAYC;
    input[type="radio"], input[type="checkbox"]{
      max-width:15px;
    }
  }
  .commerce_payment.form-wrapper {
    background-color: $LIGHTGRAY;
    .fieldset-wrapper {
      padding: 15px 25px;
      text-align: center;
      .form-item {
        display: inline-block;
        min-width: 100%;
      }
      .commerce-credit-card-start .form-item,
      .commerce-credit-card-expiration .form-item{
        min-width:initial;
      }
      .SlectBox {
        margin-top:20px;
        @include remFontSize($fontM);
        @include remLineHeight(2*$fontM);
        @include remHeight(2*$fontM);
      }
      input[type="text"] {
        @include remFontSize($fontM);
        @include remLineHeight(2*$fontM);
        @include remHeight(2*$fontM);
        width: 52%;
        @include breakpoint(0 $breakpointTablet) {
          width: 90%;
        }
        padding: 0 1%;
        display: inline-block;
      }
    }
  }
}

body.page-checkout{
  input[name="account[login][mail]"]{
    @include remFontSize($fontXL);
    text-align: center;
    margin: 10px 0;
    border: 5px solid $GRAY;
    padding: 10px 0;
  }
  fieldset.terms_conditions.form-wrapper{
    .form-item{
      margin-bottom:0;
      padding: 20px 0;
      text-align:center;
    }
  }
}