.l-widetop, .l-content, .l-region--sidebar-first, .l-region--sidebar-second{
	.small_blocks_feat_biz-container, .small_blocks_feat_evs-container,
	.smallblocks_businesses-container, .smallblocks_events-container, 
	.smallblocks_busineses_n_events-container, .small_blocks_biz_evs-container{
		.b_title_cont{
			@include doubleLineBackgroundBefore(4px, $LIGHTGRAY);
			&:before{
				z-index:-1;
			}
			text-align:left;
			.block__title{
				position:relative;
				top:4px;
				text-align: left;
				padding: 5px 15px 5px 0;
				display: inline-block;
				background-color:$WHITE;
				z-index:1;
			}
		}
	}
}
.l-widetop{
	.small_blocks_feat_biz-container, .small_blocks_feat_evs-container,
	.smallblocks_businesses-container, .smallblocks_events-container, 
	.smallblocks_busineses_n_events-container, .small_blocks_biz_evs-container{
		.b_title_cont{
			text-align:left !important;
			.block__title{
				padding: 5px 15px;
			}
		}
		.view-content{
			width:90%;
			margin:0 auto;
		}
	}
}
.l-widetop .view-id-small_blocks_businesses_and_or_events{
	@include clearfix;
	@include views4Wide2Tablet1MobileDefaultCarouselSubstitute;
	.view-content{
		.views-row{
			text-align:center;
			//left image & icons region
			.views-field.views-field-nothing{
				max-width:100%;
				position:relative;
				.teaser__first-wrapper{
					//verified icon
					.verified-container{
						display:none;
						&.typeContainerShow{//if the content is verified, this class will exist
							display:block;
						}
						@include fontelloBefore;
						&:before{
							content:'\e825';
							font-size: 12px;
							padding: 3px;
							position: absolute;
							margin: 0 !important;
							top: 5px;
							right: 5px;
							border-radius:10px;
							z-index:1;
						}
						.verified-container-inner{
							@include accesibleHide;
						}
					}
					//image 
					.image-container{
						line-height:0;
						overflow:hidden;
						display:block;
						a{
							img{
								width:100%;
							}
						}
					}
					//content type icon
					.type-container{
						@include fontelloBefore;
						&:before{
							@include centerXAbsoluteNoIE8;
							font-size: 20px;
							padding: 10px;
							position: absolute;
							margin: 0 !important;
							bottom: -17px;
							border-radius:35px;
							z-index:1;
							color:white;
						}
						.type-container-inner{
							@include accesibleHide;
						}
					}
				}//end of-teaser left-wrapper
			}//end of views-field-nothing
			//views fields
			.views-field-title,.views-field-field-address,
			.views-field-field-date-of-event{
				text-align:center;
				.field-content{
					display: inline-block;
				}
			}
			.views-field-title .field-content{
				@include remFontSize($fontS);
				@include remLineHeight($fontS * 1.3);
				margin-top:22px;
				padding: 0 5px 5px 10px;
				a{
					text-decoration: none;
    				border-bottom: 2px dotted $DARKGRAY;
    				font-weight:bold;
				}
			}
			.views-field-field-address .field-content,.views-field-field-date-of-event .field-content{
				position:relative;
				@include fontelloBefore;
				&:before{
					@include centerYAbsoluteNoIE8;
				}
				> div, >span{
					display:inline-block;
					padding-left:22px;
				}
				padding: 2px 5px 2px 2px;
				.locality, .state, .postal-code,span, .date-display-range{
					@include remFontSize($fontXS);
				}
			}
			//per field icons
			//address icon
			.views-field-field-address .field-content:before{
				content:'\e816';
			}
			//date icon
			.views-field-field-date-of-event .field-content:before{
				content: '\e82b';
			}
			//per content type rows
			//business content type
			&.rowContentType-business-service-or-attraction .views-field.views-field-nothing .teaser__first-wrapper{
				.type-container:before{
					content:'\e82c';
				}
			}
			//event content type 
			&.rowContentType-event .views-field.views-field-nothing .teaser__first-wrapper{
				.type-container:before{
					content:'\e82b';
				}
			}
			//Row Focus Effect
			&:hover{
				.image-container{ 
					img{
						@include zoomImage;
					}
				}
			}
		}//end of views row
	}
}


$vsbImageWidth: 100px;
$vsbImageHeight: 90px;
$vsbPadMarg: 4px;
.l-region--sidebar-first, .l-region--sidebar-second{
	.view-id-small_blocks_businesses_and_or_events{
		.views-row{
			width:100% !important;
		}
	} 
}
.l-region--sidebar-first, .l-region--sidebar-second, .l-content{ 
	.view-id-small_blocks_businesses_and_or_events{
		@include clearfix;
		@include views3Wide1MobileDefault;
		.view-content{
			.views-row{
				margin-bottom: $vsbPadMarg/2;
				padding-bottom: $vsbPadMarg/2;
				padding-top: $vsbPadMarg/2;
				position:relative;
				min-height:$vsbImageHeight + ($vsbPadMarg);
				//left image & icons region
				.views-field.views-field-nothing{
					max-width:$vsbImageWidth;
					position:absolute;
					top:$vsbPadMarg/2;
					left:0;
					padding-left:0;
					.teaser__first-wrapper{
						max-height: $vsbImageHeight;
						//verified icon
						.verified-container{
							display:none;
							&.typeContainerShow{//if the content is verified, this class will exist
								display:block;
							}
							@include fontelloBefore;
							&:before{
								content:'\e825';
								font-size: 12px;
								padding: 3px;
								position: absolute;
								margin: 0 !important;
								top: 5px;
								right: 5px;
								border-radius:10px;
								z-index:1;
							}
							.verified-container-inner{
								@include accesibleHide;
							}
						}
						//image 
						.image-container{
							line-height:0;
							overflow:hidden;
							display:block;
							img{
								width: $vsbImageWidth;
								@include breakpoint($breakpointWideP1 ($breakpointWideP1 + 100px)){
									width: $vsbImageWidth - 20px;
								}
							}
						}
						//content type icon
						.type-container{
							@include fontelloBefore;
							&:before{
								@include centerXAbsoluteNoIE8;
								font-size: 15px;
								padding: 7.5px;
								position: absolute;
								margin: 0 !important;
								bottom: -15px;
								border-radius:35px;
								z-index:1;
								color:white;
							}
							.type-container-inner{
								@include accesibleHide;
							}
						}
					}//end of-teaser left-wrapper
				}//end of views-field-nothing
				//views fields
				.views-field{
					padding-left: $vsbImageWidth + 4px;
					@include breakpoint($breakpointWideP1 ($breakpointWideP1 + 100px)){
						padding-left: $vsbImageWidth + 4px - 20px;
					}
				}
				.views-field-title,.views-field-field-address,
				.views-field-field-date-of-event{
					.field-content{
						display: block;
					}
				}
				.views-field-title .field-content{
					@include remFontSize($fontXS);
					padding: 0 5px 5px 10px;
					a{
						text-decoration:none;
						font-weight:bold;
					}
				}
				.views-field-field-address .field-content,.views-field-field-date-of-event .field-content{
					position:relative;
					@include fontelloBefore;
					&:before{
						@include centerYAbsoluteNoIE8;
					}
					> div, >span{
						display:inline-block;
						padding-left:22px;
					}
					padding: 2px 5px 2px 2px;
					.locality, .state, .postal-code,span, .date-display-range{
						@include remFontSize($fontXXS);
					}
				}
				//per field icons
				//address icon
				.views-field-field-address .field-content:before{
					content:'\e816';
				}
				//date icon
				.views-field-field-date-of-event .field-content:before{
					content: '\e81c';
				}
				//per content type rows
				//business content type
				&.rowContentType-business-service-or-attraction .views-field.views-field-nothing .teaser__first-wrapper{
					.type-container:before{
						content:'\e82c';
					}
				}
				//event content type 
				&.rowContentType-event .views-field.views-field-nothing .teaser__first-wrapper{
					.type-container:before{
						content:'\e82b';
					}
				}
				//Row Focus Effect
				&:hover{
					.image-container{ 
						img{
							@include zoomImage;
						}
						overflow:hidden;
					}
				}
			}//end of views row
		}
	}
}

/*
 * Local helper mixin for row coloring
 */
 
@mixin schemeRowColorSmallBlocksBE($colorRow){
	.views-field.views-field-nothing .teaser__first-wrapper{
		//verified icon color
		.verified-container:before{
			background-color:$colorRow;
			color: $WHITE;
		}
		//content type icon color
		.type-container:before{
			background-color:$colorRow;
			color: $WHITE;
		}
		//image bottom border color
		.image-container{
			border-bottom: 3px solid $colorRow;
		}
	}
	//title color
	.views-field-title .field-content{
		a{
			border-color: $colorRow !important;;
		}
	}
	//other icons color
	.views-field-field-address .field-content,.views-field-field-date-of-event .field-content{
		&:before{
			color:$colorRow;
		}
	}
}

/*
 * Color depending on Content Type
 */ 
 
.view-id-small_blocks_businesses_and_or_events .views-row{
	&.rowContentType-business-service-or-attraction{
		@include schemeRowColorSmallBlocksBE($color3);
	}
	&.rowContentType-event{
		@include schemeRowColorSmallBlocksBE($color1);
	}
}

