
 .l-widetop, .l-content, .l-region--sidebar-first, .l-region--sidebar-second{
	.small_block_bn_blogs-container, .small_block_bn_news-container{
		.b_title_cont{
			@include singleLineBackgroundBefore($LIGHTGRAY);
			margin: 6px 0 ;
			padding:6px 0;
			text-align:center;
			background-color: $color1;
			z-index:-2;
			&:before{
				z-index:-1;
				width:90%;
				margin: 0 5%;
			}
			.block__title{
				padding: 5px 15px;
				display: inline-block;
				background-color:$color1;
				z-index:1;
				color:$WHITE;
			}
		}
	}
}
 /*
  * Responsive Stylings
  */
.l-content .view-id-small_blocks_blogs_news .view-content{
	@include clearfix;
	@include views3Wide1MobileDefault;
}

.l-region--sidebar-second, .l-region--sidebar-first{
	.view-id-small_blocks_blogs_news .view-content{
		@include breakpoint($mobile2Tablet){
			@include clearfix;
			.views-row{
			    @include clearfix;
			}
			.views-row:nth-child(2n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			.views-row:nth-child(2n+2){
				@include splitVRight(50%);
				clear:none;
			}
		};	
	}
}
/*
 * Decorative Stylings
 */
$vsbBnImageWidth: 80px;

.view-id-small_blocks_blogs_news{
	.views-row{
		margin-bottom: 5px;
		padding-bottom: 5px;
		padding-top: 4px;
		position: relative;
		.views-field{
			position: relative;
			padding-left: $vsbBnImageWidth + 10px;
		}
		.views-field-field-image-gallery{
			position:absolute;
			top:6px;
			max-width:$vsbBnImageWidth;
			position:absolute;
			padding-left:0;
			left:0;
			line-height:0;
			overflow:hidden;
			display:block;
			z-index:1;
			img{
				width: $vsbBnImageWidth;
			}
		}
		&.views-row{
			.views-field-title{
				margin-bottom: 3px;
				a{
					text-decoration:none;
				}
			}
			.views-field-field-body{
				span.field-content{
					@include remFontSize($fontXXS);
				}
				text-align:justify;
				a.views-more-link{
					color:$color1;
				}
			}
			.views-field-created{
				margin-top:5px;
				@include colorDescendantsFont($DARKERLIGHTGRAY);
				position:relative;
				@include fontelloBefore;
				&:before{
					@include centerYAbsoluteNoIE8;
				}
				> div, >span{
					display:inline-block;
					padding-left:25px;
				}
				span, .date-display-range{
					@include remFontSize($fontXXS);
				}
			}
			//date icon
			.views-field-created:before{
				content: '\e81c';
				font-size:16px;
			}
		}
		//Row Focus Effect
		&:hover{
			.views-field.views-field-field-image-gallery{ 
				img{
					@include zoomImage;
				}
				line-height:0;
				overflow:hidden;
				display:block;
			}
		}
	}//end of views row
	.view-footer .blognews_seeall{
		@include buttonColor1OnWrapperSmall;
		float:right;
		a{
			text-decoration:none;
		}
	}
	@include clearfix;
}
