
.icon-flickr:before { content: '\e800'; } /* '' */
.icon-google:before { content: '\e801'; } /* '' */
.icon-myspace:before { content: '\e802'; } /* '' */
.icon-pinterest:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-vimeo:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-yahoo:before { content: '\e808'; } /* '' */
.icon-reddit:before { content: '\e809'; } /* '' */
.icon-slideshare:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80c'; } /* '' */
.icon-delicious:before { content: '\e80d'; } /* '' */
.icon-digg:before { content: '\e80e'; } /* '' */
.icon-stumbleupon:before { content: '\e80f'; } /* '' */
.icon-gplus:before { content: '\e810'; } /* '' */