
.icon-flickr:before { content: '\e800'; } /* '' */
.icon-google:before { content: '\e801'; } /* '' */
.icon-myspace:before { content: '\e802'; } /* '' */
.icon-pinterest:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-vimeo:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-yahoo:before { content: '\e808'; } /* '' */
.icon-reddit:before { content: '\e809'; } /* '' */
.icon-slideshare:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-facebook:before { content: '\e80c'; } /* '' */
.icon-delicious:before { content: '\e80d'; } /* '' */
.icon-digg:before { content: '\e80e'; } /* '' */
.icon-stumbleupon:before { content: '\e80f'; } /* '' */
.icon-gplus:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-dollar:before { content: '\e812'; } /* '' */
.icon-lightbulb:before { content: '\e813'; } /* '' */
.icon-basket:before { content: '\e814'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-picture:before { content: '\e817'; } /* '' */
.icon-map:before { content: '\e818'; } /* '' */
.icon-article-alt:before { content: '\e819'; } /* '' */
.icon-spread:before { content: '\e81a'; } /* '' */
.icon-building-filled:before { content: '\e81b'; } /* '' */
.icon-calendar:before { content: '\e81c'; } /* '' */
.icon-link-ext:before { content: '\e81d'; } /* '' */
.icon-th:before { content: '\e81e'; } /* '' */
.icon-child:before { content: '\e81f'; } /* '' */
.icon-ellipsis:before { content: '\e820'; } /* '' */
.icon-list-alt:before { content: '\e821'; } /* '' */
.icon-plus-outline:before { content: '\e822'; } /* '' */
.icon-right-circled:before { content: '\e823'; } /* '' */
.icon-left-circled:before { content: '\e824'; } /* '' */
.icon-ok:before { content: '\e825'; } /* '' */
.icon-feather:before { content: '\e826'; } /* '' */
.icon-quote-left:before { content: '\e827'; } /* '' */
.icon-quote-right:before { content: '\e828'; } /* '' */
.icon-hourglass:before { content: '\e829'; } /* '' */
.icon-newspaper:before { content: '\e82a'; } /* '' */
.icon-e:before { content: '\e82b'; } /* '' */
.icon-fg:before { content: '\e82c'; } /* '' */
.icon-login:before { content: '\e82d'; } /* '' */
.icon-logout:before { content: '\e82e'; } /* '' */
.icon-search:before { content: '\e82f'; } /* '' */
.icon-rocket-1:before { content: '\e830'; } /* '' */
.icon-th-list:before { content: '\e831'; } /* '' */
.icon-phone:before { content: '\e832'; } /* '' */
.icon-globe-3:before { content: '\e833'; } /* '' */
.icon-email:before { content: '\e834'; } /* '' */
.icon-camera:before { content: '\e835'; } /* '' */
.icon-info-1:before { content: '\e836'; } /* '' */
.icon-users:before { content: '\e837'; } /* '' */
.icon-newspaper-1:before { content: '\e838'; } /* '' */