/*
 * Set Up Font Size % For Rem
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
html {
	font-family:"Roboto Condensed", sans-serif, Helvetica;
	input, button{
		font-family:"Roboto Condensed", sans-serif, Helvetica;
	}
	font-size:10px;
	margin:0 auto;
	@include breakpoint($breakpointXWideP1){
		max-width:$breakpointXWide * (0.925);
	}
	@include breakpoint($wide2XWide){
		max-width: 92.5%;
	}
	@include breakpoint(0 $breakpointMini){
		min-width: $breakpointMini;
		overflow-x:scroll;
	}
}
body{
	@include remFontSize($fontS);
	color:$DARKGRAY;
}
/*
 * Max Width Responsive  
 */
body{
    max-width: 100%;
    overflow-x: hidden;
}
/*
 * Admin Menu Margin
 */
body.admin-menu{
	#admin-menu{
	    min-width: 50px;
	    height: 80px;
		.dropdown#admin-menu-icon .admin-menu-icon > a{
			padding:0;
			img{
				width:18px;
				height:auto;
				padding: 0 5px;
			}
		}
	}
	.l-page{
		margin-top:80px;
	}
}

/*
 * Links Transition
 */
a{
	//@include cssTransition(all 0.35s ease-in-out);
	color:$DARKGRAY;
}

/*
 * Omega Debug - Ungray
 */
.region--debug{
	background:transparent;
}

