/*
 * Set Up Font Size % For Rem
 */
html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	@include breakpoint($tablet2Wide){
		font-size: 60%;		
	};
	@include breakpoint($breakpointWideP1){
		font-size: 57.5%;	
	};
}
/*
 * Img Reset
 */
img{
	width:auto;
	height:auto;
}
/*
 * Admin Menu Margin
 */
body.admin-menu{
	#admin-menu{
	    min-width: 50px;
	    height: 80px;
	}
	.l-page{
		margin-top:80px;
	}
}
