/*
 * Set Up Font Size % For Rem
 */
html {
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	/* Sets up the Base 10 stuff */
	@include breakpoint(0 $breakpointTablet){
		font-size: 62.5%; 
	};
	@include breakpoint($tablet2Wide){
		font-size: 60%;		
	};
	@include breakpoint($breakpointWideP1){
		font-size: 57.5%;	
	};
}

/*
 * Admin Menu Margin
 */
body.admin-menu{
	#admin-menu{
	    min-width: 50px;
	    height: 80px;
	}
	.l-page{
		margin-top:80px;
	}
}

/*
 * Links Transition
 */
a{
	@include cssTransition(all 0.35s ease-in-out);
}

