/*
 * Clearfix
 */ 
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin clearboth{
	clear:both;
}
/*
 *
 */
@mixin breakWord{
	word-wrap: break-word;
	/*word-break:break-all;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap; 
	white-space: pre-wrap;  
	white-space: pre-line; */ 
}
/*
 * One Column 
 */

@mixin oneColumn($percentWidth){
	display:block;
	@include clearfix;
	@include clearboth;
	padding: $columnPercentPadder;
	width:$percentWidth - 2 * $columnPercentPadder;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Split Columns
 */
@mixin splitLeft($percentWidth){
	float: left;
	margin-right: $columnPercentSpacer / 2;
	padding: $columnPercentPadder / 2;
	width: $percentWidth - $columnPercentSpacer / 2 - $columnPercentPadder;
}
@mixin splitRight($percentWidth){
	float: right;
	margin-left: $columnPercentSpacer / 2;
	padding: $columnPercentPadder / 2 ;
	width: $percentWidth - $columnPercentSpacer / 2 - $columnPercentPadder;
}

/*
 * Split Columns for Views
 */
@mixin splitVLeft($percentWidth){
	float: left;
	margin-right: $columnPercentSpacer;
	width: $percentWidth - $columnPercentSpacer;
}
@mixin splitVRight($percentWidth){
	float: right;
	margin-left: $columnPercentSpacer;
	width: $percentWidth - $columnPercentSpacer;
}

/*
 * Chop 3 Columns
 */
@mixin chop3Left($percentWidth){
	float:left;
	margin-right: $columnPercentSpacer / 4;
	padding: $columnPercentPadder / 2;
	width: $percentWidth - $columnPercentSpacer / 4 - $columnPercentPadder;	
}
@mixin chop3Middle($percentWidth){
	float:left;
	margin-left: $columnPercentSpacer / 4;
	margin-right: $columnPercentSpacer / 4;
	padding: $columnPercentPadder / 2;
	width: $percentWidth - $columnPercentSpacer / 2 - $columnPercentPadder; 
}
@mixin chop3Right($percentWidth){
	float:right;
	margin-left: $columnPercentSpacer / 4;
	padding: $columnPercentPadder / 2;
	width: $percentWidth - $columnPercentSpacer / 4 - $columnPercentPadder;
}

/*
 * Chop 3 Columns For Views
 */
@mixin chop3VLeft($percentWidth){
	float:left;
	margin-right: $columnPercentSpacer;
	width: $percentWidth - $columnPercentSpacer;	
}
@mixin chop3VMiddle($percentWidth){
	float:left;
	margin-left: $columnPercentSpacer / 2;
	margin-right: $columnPercentSpacer / 2;
	width: $percentWidth - $columnPercentSpacer; 
}
@mixin chop3VRight($percentWidth){
	float:right;
	margin-left: $columnPercentSpacer;
	width: $percentWidth - $columnPercentSpacer;
}


/* 
 * Headers Font Style
 */
@mixin headerFontStyle{	
	line-height: 120%;
	padding: 0;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

/* 
 * Rem Font Size With FallBack
 */
@mixin remFontSize($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

/*
 * Color Descendants
 */
@mixin colorDescendantsFont($color){
	span,p,h1,h2,h3,h4,h5,h6,a,div,li{
		color:$color
	}
	a:hover{
		color:$color
	}
	color:$color;
}

/*
 * Hide Text Without Breaking Accessibility
 */
@mixin accesibleHide{
	position: absolute;
	text-indent: -119988px;
	left: -119988px;
	overflow: hidden;
	text-align: left;
	text-transform: capitalize;
	height:1px;
	width:1px;
}

/*
 * Background Color To Opacity Function
 */
@mixin backgroundOpacity($color, $opacity: 0.3) {
	background: $color; /* The Fallback */
	background: rgba($color, $opacity);
}
/*
 * CSS Transition Cross Browser
 */
@mixin cssTransition($argument){
	-moz-transition: $argument;
	-o-transition: $argument;
	-webkit-transition: $argument;
	transition: $argument;
}
/*
 * Fontello Maker & Remover
 */
@mixin fontelloBefore{
	&:before{
		//default icon
		content:'\e81f';
		//fontello
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		/* opacity: .8; */
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		margin-left: .2em;
		/* font-size: 120%; */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}
}
@mixin fontelloBeforeClear{
	&:before{
		content:none;
		display:none;
	}
}
/*
 * Quick Box Wizard
 */
@mixin boxBorderRadiusMarginPadding($border, $radius, $margin, $padding){
	border: $border;
	border-radius: $radius;
	margin: $margin;
	padding: $padding;
}

/*
 * Box Shadow Small
 */
@mixin boxshadowSmall{
	-webkit-box-shadow: 2px 2px 6px 1px $BLACK;
	-moz-box-shadow: 2px 2px 6px 1px $BLACK;
	box-shadow: 2px 2px 6px 1px $BLACK;
	-webkit-box-shadow: 2px 2px 6px 1px rgba($BLACK,.75);
	-moz-box-shadow: 2px 2px 6px 1px rgba($BLACK,.75);
	box-shadow: 2px 2px 6px 1px rgba($BLACK,.75);
}

/*
 * Box Shadow Medium
 */
@mixin boxshadowMedium{
	-webkit-box-shadow: 3px 3px 10px 1px $BLACK;
	-moz-box-shadow: 3px 3px 10px 1px $BLACK;
	box-shadow: 3px 3px 10px 1px $BLACK;
	-webkit-box-shadow: 3px 3px 10px 1px rgba($BLACK,.75);
	-moz-box-shadow: 3px 3px 10px 1px rgba($BLACK,.75);
	box-shadow: 3px 3px 10px 1px rgba($BLACK,.75);
}

/*
 * Box Shadow Large
 */
@mixin boxshadowLarge{
	-webkit-box-shadow: 6px 6px 13px 1px $BLACK;
	-moz-box-shadow: 6px 6px 13px 1px $BLACK;
	box-shadow: 6px 6px 13px 1px $BLACK;
	-webkit-box-shadow: 6px 6px 13px 1px rgba($BLACK,.75);
	-moz-box-shadow: 6px 6px 13px 1px rgba($BLACK,.75);
	box-shadow: 6px 6px 13px 1px rgba($BLACK,.75);
}
/*
 * Box Shadow View Row
 */
@mixin boxShadowView{
	-webkit-box-shadow: 0 0 3px 3px $GRAY;
	-moz-box-shadow: 0 0 3px 3px $GRAY;
	box-shadow: 0 0 3px 3px $GRAY;
	-webkit-box-shadow: 0 0 3px 3px rgba($GRAY,.75);
	-moz-box-shadow: 0 0 3px 3px rgba($GRAY,.75);
	box-shadow: 0 0 3px 3px rgba($GRAY,.75);
}

/*
 * Buttons Mixins
 */
@mixin buttonBackgroundTextHoverBorder($backgroundColor, $textColor, $hoverTextColor, $borderColor){
	input[type=submit], div.fakeButton{
		@include boxBorderRadiusMarginPadding(1px solid $borderColor, 0, 8px 2px, 10px 20px);
		@include cssTransition(all 0.35s ease-in-out);
		@include remFontSize($fontS);
		background-color: $backgroundColor;
		color:$textColor;
		cursor:pointer;
		font-weight:bold;
		&:hover {
			color: $hoverTextColor;
		}
	}
	div.fakeButton{
		text-align:center;
	}
}
@mixin buttonColor1{@include buttonBackgroundTextHoverBorder($color1, $WHITE, $DARKGRAY, #{darken($color1, 5%)} );}
@mixin buttonColor1Opp{@include buttonBackgroundTextHoverBorder($WHITE, $color1, #{darken($color1, 13%)}, $color1 );}

@mixin buttonColor2{@include buttonBackgroundTextHoverBorder($color2, $WHITE, $DARKGRAY, #{darken($color2, 5%)} );}
@mixin buttonColor2Opp{@include buttonBackgroundTextHoverBorder($WHITE, $color2, #{darken($color2, 13%)}, $color2 );}

@mixin buttonColor3{@include buttonBackgroundTextHoverBorder($color3, $WHITE, $DARKGRAY, #{darken($color3, 5%)} );}
@mixin buttonColor3Opp{@include buttonBackgroundTextHoverBorder($WHITE, $color3, #{darken($color3, 13%)}, $color3 );}

@mixin buttonAlt{@include buttonBackgroundTextHoverBorder($colorAlt, $DARKGRAY, $WHITE, #{darken($colorAlt, 5%)} );}
@mixin buttonAltOpp{@include buttonBackgroundTextHoverBorder($WHITE, $colorAlt, #{darken($colorAlt, 13%)}, $colorAlt );}

/*
 * Region Color Scheme
 */

@mixin regionInnerSchemer($headerBackground, $headerTextColor, $textColor, $bordersColor){
	//BLOCK
	.block{
		border: 1px solid $bordersColor;
		> .block__title{
			background: $headerBackground;
			color: $headerTextColor;
			@include colorDescendantsFont($headerTextColor);
			padding: 2 * $columnPercentPadder;
		}
		@include colorDescendantsFont($textColor);
		> .block__content, > ul.menu{
			padding: 2 * $columnPercentPadder;
		}
		margin-top:5px;
		margin-bottom:5px;
	}
	//JQUERY OVERRIDES 
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
		border-color: $bordersColor;
		background: $headerBackground;
		color: $headerTextColor;
		border-radius:0;
	}
	.ui-selectmenu-button span.ui-selectmenu-text{
		color: $headerTextColor;
	}
	//FONTELLO ICONS DEFAULT
	.view i.icon{
	    background-color: $color1;
	    color: $WHITE;
	}
}
/*
 * Zoom Image Transition
 */
@mixin zoomImage{
	-webkit-transform: scale(1.05,1.07);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1.05,1.07);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}

/*
 * Tab JS Active Vs Inactive (Background, and Color)
 */
 @mixin tabJScolorings($normalBackground, $normalText, $activeBackground, $activeText, $borderNormal, $borderActive){
 		//Normal tab
		border: $borderNormal;
		border-bottom:0;
		background-color: $normalBackground;
		color: $normalText;
		a{		
			@include remFontSize($fontS);
			color:$normalText;
		}
		//Active tabs
		&.active, &:hover{
			border: $borderActive;
			border-bottom:0;
		}
		//hover tabs - making this a bit different from active helps on mobile
		&:hover{
		}
		//active tabs
		&.active{
			background-color:$activeBackground;
			color:$activeText;
			a{
				color:$activeText;
			}
		}
}	

@mixin borderRadiusIconbgIcon($borderColor, $borderRadius, $iconBackgroundColor, $iconColor){
		border: $borderColor;
		border-radius: $borderRadius;
		.view i.icon{
			background-color: $iconBackgroundColor;
			color: $iconColor;
		}
}  
