/*
 * Region Container Boxes
 */
@mixin defaultBigBox{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/*
 * Clearfix
 */ 
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin clearboth{
	clear:both;
}

/*
 * Split Columns
 */
@mixin splitLeft($percentWidth){
	float: left;
	margin-right: $columnPercentSpacer / 2;
	width: $percentWidth - $columnPercentSpacer / 2;
}
@mixin splitRight($percentWidth){
	float: right;
	margin-left: $columnPercentSpacer / 2;
	width: $percentWidth - $columnPercentSpacer / 2;
}

/*
 * Chop 3 Columns
 */
@mixin chop3Left($percentWidth){
	float:left;
	margin-right: $columnPercentSpacer / 4;
	width: $percentWidth - $columnPercentSpacer / 4;
}
@mixin chop3Middle($percentWidth){
	float:left;
	margin-left: $columnPercentSpacer / 4;
	margin-right: $columnPercentSpacer / 4;
	width: $percentWidth - $columnPercentSpacer / 2;
}
@mixin chop3Right($percentWidth){
	float:right;
	margin-left: $columnPercentSpacer / 4;
	width: $percentWidth - $columnPercentSpacer / 4;
}
/* 
 * Headers Font Style
 */
@mixin headerFontStyle{	
	line-height: 120%;
	padding: 0;
	margin: 20px 0 10px 0;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

/* 
 * Rem Font Size With FallBack
 */
@mixin remFontSize($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

/*
 * Color Descendants
 */
@mixin colorDescendantsFont($color){
	a{
		color:$color;
		text-decoration:underline;
	}
	a:hover{
		text-decoration:none;
	}
	span,p,h1,h2,h3,h4,h5,h6{
		color:$color
	}
}

/*
 * Hide Text Without Breaking Accessibility
 */
@mixin accesibleHide{
	position: absolute;
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	text-transform: capitalize;
}

/*
 * Background Opacity Function
 */
@mixin backgroundOpacity($color, $opacity: 0.3) {
	background: $color; /* The Fallback */
	background: rgba($color, $opacity);
}
/*
 * CSS Transition Cross Browser
 */
@mixin cssTransition($argument){
	-moz-transition: $argument;
	-o-transition: $argument;
	-webkit-transition: $argument;
	transition: $argument;
}
