/*
 * Clearfix
 */ 
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin clearboth{
	clear:both;
}
/*
 *
 */
@mixin breakWord{
	word-wrap: break-word;
	/*word-break:break-all;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap; 
	white-space: pre-wrap;  
	white-space: pre-line; */ 
}
/*
 * One Column 
 */

@mixin oneColumn($percentWidth){
	display:block;
	@include clearfix;
	@include clearboth;
	padding: $columnPercentPadder;
	width:$percentWidth - 2 * $columnPercentPadder;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Split Columns
 */
@mixin splitLeft($percentWidth){
	float: left;
	margin-right: $columnPercentSpacer / 2;
	padding: $columnPercentPadder / 2;
	width: $percentWidth - $columnPercentSpacer / 2 - $columnPercentPadder;
}
@mixin splitRight($percentWidth){
	float: right;
	margin-left: $columnPercentSpacer / 2;
	padding: $columnPercentPadder / 2 ;
	width: $percentWidth - $columnPercentSpacer / 2 - $columnPercentPadder;
}

/*
 * Split Columns for Views
 */
@mixin splitVLeft($percentWidth){
	float: left;
	margin-right: $columnPercentSpacer;
	width: $percentWidth - $columnPercentSpacer;
}
@mixin splitVRight($percentWidth){
	float: right;
	margin-left: $columnPercentSpacer;
	width: $percentWidth - $columnPercentSpacer;
}

/*
 * Chop 3 Columns
 */
@mixin chop3Left($percentWidth){
	float:left;
	margin-right: $columnPercentSpacer / 4;
	padding: $columnPercentPadder / 2;
	width: $percentWidth - $columnPercentSpacer / 4 - $columnPercentPadder;	
}
@mixin chop3Middle($percentWidth){
	float:left;
	margin-left: $columnPercentSpacer / 4;
	margin-right: $columnPercentSpacer / 4;
	padding: $columnPercentPadder / 2;
	width: $percentWidth - $columnPercentSpacer / 2 - $columnPercentPadder; 
}
@mixin chop3Right($percentWidth){
	float:right;
	margin-left: $columnPercentSpacer / 4;
	padding: $columnPercentPadder / 2;
	width: $percentWidth - $columnPercentSpacer / 4 - $columnPercentPadder;
}

/*
 * Chop 3 Columns For Views
 */
@mixin chop3VLeft($percentWidth){
	float:left;
	margin-right: $columnPercentSpacer;
	width: $percentWidth - $columnPercentSpacer;	
}
@mixin chop3VMiddle($percentWidth){
	float:left;
	margin-left: $columnPercentSpacer / 2;
	margin-right: $columnPercentSpacer / 2;
	width: $percentWidth - $columnPercentSpacer; 
}
@mixin chop3VRight($percentWidth){
	float:right;
	margin-left: $columnPercentSpacer;
	width: $percentWidth - $columnPercentSpacer;
}


/*
 * Chop 4 Columns For Views
 */
@mixin chop4VLeft($percentWidth){
	float:left;
	margin-right: $columnPercentSpacer/2;
	width: $percentWidth - $columnPercentSpacer / 2;
}
@mixin chop4VMiddle($percentWidth){
	float:left;
	margin-left: $columnPercentSpacer / 2;
	margin-right: $columnPercentSpacer / 2;
	width: $percentWidth - $columnPercentSpacer;
}
@mixin chop4VRight($percentWidth){
	float:right;
	margin-left: $columnPercentSpacer/2;
	width: $percentWidth - $columnPercentSpacer / 2;
}

/*
 * Chop 4 Columns - Carousel Substitute
 */
@mixin chop4CsLeft($percentWidth){
	float:left;
	margin-left: 2 * $columnPercentSpacer;
	margin-right: 2 * $columnPercentSpacer;
	width: $percentWidth -  (4 * $columnPercentSpacer);
}
@mixin chop4CsMiddle($percentWidth){
	float:left;
	margin-left: 2 * $columnPercentSpacer;
	margin-right: 2 * $columnPercentSpacer;
	width: $percentWidth -  (4 * $columnPercentSpacer);
}
@mixin chop4CsRight($percentWidth){
	float:right;
	margin-left: 2 * $columnPercentSpacer;
	margin-right: 2 * $columnPercentSpacer;
	width: $percentWidth -  (4 * $columnPercentSpacer);
}


/*
 * Chop 6 Columns For Views
 */
@mixin chop6VLeft($percentWidth){
	float:left;
	margin-right: $columnPercentSpacer/2;
	width: $percentWidth - $columnPercentSpacer / 2;	
}
@mixin chop6VMiddle($percentWidth){
	float:left;
	margin-left: $columnPercentSpacer / 2;
	margin-right: $columnPercentSpacer / 2;
	width: $percentWidth - $columnPercentSpacer; 
}
@mixin chop6VRight($percentWidth){
	float:right;
	margin-left: $columnPercentSpacer/2;
	width: $percentWidth - $columnPercentSpacer / 2;
}
/*
 * Chop left - No Padding
 */
@mixin chopLeftNoPadding($percentWidth){
	float:left;
	width: $percentWidth; 
}

/* 
 * Headers Font Style
 */
@mixin headerFontStyle{	
	line-height: 120%;
	padding: 0;
	font-weight: bold;
}

/*
 * singleLineBackground
 */
@mixin singleLineBackgroundBefore($colorLine){
	position:relative;
	&:before{
		content:" ";
		position:absolute;
		width:100%;
		border-bottom:2px solid $colorLine;
		top:50%;
		left:0;
	}
}
/*
 * doubleLineBackground
 */
@mixin doubleLineBackgroundBefore($pixelSeparation, $colorLine){
	position:relative;
	&:before{
		content:" ";
		position:absolute;
		width:100%;
		height:$pixelSeparation;
		border-top:2px double $colorLine;
		border-bottom:2px double $colorLine;
		top:50%;
		left:0;
	}
}

/* 
 * Rem Font Size With FallBack
 */
@mixin remFontSize($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

/*
 * Rem Line Height
 */
@mixin remLineHeight($sizeValue: 1.6) {
  line-height: ($sizeValue * 10) + px;
  line-height: $sizeValue + rem;
}

/*
 * Color Descendants
 */
@mixin colorDescendantsFont($color){
	span,p,h1,h2,h3,h4,h5,h6,a,div,li{
		color:$color
	}
	a:hover{
		color:$color
	}
	color:$color;
}

/*
 * Linear Gradient 
 */
@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #{$top} ', endColorstr=' #{$bottom} ',GradientType=0 );*/ /* IE6-9 */
}

/*
 * Hide Text Without Breaking Accessibility
 */
@mixin accesibleHide{
	position: absolute;
	text-indent: -119988px;
	left: -119988px;
	overflow: hidden;
	text-align: left;
	text-transform: capitalize;
	height:1px;
	width:1px;
}
//be careful with this
//might not work in all versions of IE - TEST BEFORE USING!
@mixin accesibleUnhide{
	position: initial;
	text-indent: initial;
	left: initial;
	overflow: initial;
	text-align: initial;
	text-transform: initial;
	height:initial;
	width:initial;
}

/*
 * Background Color To Opacity Function
 */
@mixin backgroundOpacity($color, $opacity: 0.3) {
	background: $color; /* The Fallback */
	background: rgba($color, $opacity);
}
/*
 * CSS Transition Cross Browser
 */
@mixin cssTransition($argument){
	-moz-transition: $argument;
	-o-transition: $argument;
	-webkit-transition: $argument;
	transition: $argument;
}
@mixin noCssTransition{
	-moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
/*
 * Fontello Maker & Remover
 */
@mixin fontelloBefore{
	&:before{
		//default icon
		content:'\e81f';
		//fontello
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		/* opacity: .8; */
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		margin-left: .2em;
		/* font-size: 120%; */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}
}
@mixin fontelloBeforeClear{
	&:before{
		content:none;
		display:none;
	}
}
@mixin fontelloAfter{
	&:after{
		//default icon
		content:'\e81f';
		//fontello
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		/* opacity: .8; */
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		margin-left: .2em;
		/* font-size: 120%; */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}
}
@mixin fontelloAfterClear{
	&:after{
		content:none;
		display:none;
	}
}
/*
 * Quick Box Wizard
 */
@mixin boxBorderRadiusMarginPadding($border, $radius, $margin, $padding){
	border: $border;
	border-radius: $radius;
	margin: $margin;
	padding: $padding;
}

/*
 * Box Shadow Small
 */
@mixin boxshadowSmall{
	-webkit-box-shadow: 2px 2px 6px 1px $BLACK;
	-moz-box-shadow: 2px 2px 6px 1px $BLACK;
	box-shadow: 2px 2px 6px 1px $BLACK;
	-webkit-box-shadow: 2px 2px 6px 1px rgba($BLACK,.75);
	-moz-box-shadow: 2px 2px 6px 1px rgba($BLACK,.75);
	box-shadow: 2px 2px 6px 1px rgba($BLACK,.75);
}

/*
 * Box Shadow Medium
 */
@mixin boxshadowMedium{
	-webkit-box-shadow: 3px 3px 10px 1px $BLACK;
	-moz-box-shadow: 3px 3px 10px 1px $BLACK;
	box-shadow: 3px 3px 10px 1px $BLACK;
	-webkit-box-shadow: 3px 3px 10px 1px rgba($BLACK,.75);
	-moz-box-shadow: 3px 3px 10px 1px rgba($BLACK,.75);
	box-shadow: 3px 3px 10px 1px rgba($BLACK,.75);
}

/*
 * Box Shadow Large
 */
@mixin boxshadowLarge{
	-webkit-box-shadow: 6px 6px 13px 1px $BLACK;
	-moz-box-shadow: 6px 6px 13px 1px $BLACK;
	box-shadow: 6px 6px 13px 1px $BLACK;
	-webkit-box-shadow: 6px 6px 13px 1px rgba($BLACK,.75);
	-moz-box-shadow: 6px 6px 13px 1px rgba($BLACK,.75);
	box-shadow: 6px 6px 13px 1px rgba($BLACK,.75);
}
/*
 * Box Shadow View Row
 */
@mixin boxShadowView{
	-webkit-box-shadow: 0 0 3px 3px $GRAY;
	-moz-box-shadow: 0 0 3px 3px $GRAY;
	box-shadow: 0 0 3px 3px $GRAY;
	-webkit-box-shadow: 0 0 3px 3px rgba($GRAY,.75);
	-moz-box-shadow: 0 0 3px 3px rgba($GRAY,.75);
	box-shadow: 0 0 3px 3px rgba($GRAY,.75);
}
/*
 * Box Shadow Bottom Light
 */
@mixin boxshadowBottomLight{
	-webkit-box-shadow: 0px 2px 5px -1px $BLACK;
	-moz-box-shadow: 0px 2px 5px -1px $BLACK;
	box-shadow: 0px 2px 5px -1px $BLACK;
	-webkit-box-shadow: 0px 2px 5px -1px rgba($BLACK,.75);
	-moz-box-shadow: 0px 2px 5px -1px rgba($BLACK,.75);
	box-shadow: 0px 2px 5px -1px rgba($BLACK,.75);
}
@mixin boxshadowBottomLightInset{
	-webkit-box-shadow: inset 0px -5px 5px -6px $BLACK;
	-moz-box-shadow: inset 0px -5px 5px -6px $BLACK;
	box-shadow: inset 0px -5px 5px -6px $BLACK;
	-webkit-box-shadow: inset 0px -5px 5px -6px rgba($BLACK,.75);
	-moz-box-shadow: inset 0px -5px 5px -6px rgba($BLACK,.75);
	box-shadow: inset 0px -5px 5px -6px rgba($BLACK,.75);
}
/*
 * Buttons Mixins
 */
@mixin buttonBackgroundTextHoverBorder($backgroundColor, $textColor, $hoverTextColor, $borderColor){
	input[type=submit], div.fakeButton{
		@include boxBorderRadiusMarginPadding(1px solid $borderColor, 0, 8px 2px, 10px 20px);
		@include cssTransition(all 0.35s ease-in-out);
		@include remFontSize($fontS);
		background-color: $backgroundColor;
		color:$textColor;
		cursor:pointer;
		font-weight:bold;
		&:hover {
			color: $hoverTextColor;
		}
	}
	div.fakeButton{
		text-align:center;
	}
}
@mixin buttonBackgroundTextHoverBorderOnWrapperSmall($backgroundColor, $textColor, $hoverTextColor, $borderColor){
	@include boxBorderRadiusMarginPadding(1px solid $borderColor, 0, 4px 2px, 7px 15px);
	@include cssTransition(all 0.35s ease-in-out);
	@include remFontSize($fontXS);
	display: inline-block;
	background-color: $backgroundColor;
	color:$textColor;
	a{
		color:$textColor;
		cursor:pointer;
	}
	font-weight:bold;
	&:hover{
		color: $hoverTextColor;
		a{
			color: $hoverTextColor;
		}
	}
}
@mixin buttonColor1{@include buttonBackgroundTextHoverBorder($color1, $WHITE, $DARKGRAY, #{darken($color1, 5%)} );}
@mixin buttonColor1Opp{@include buttonBackgroundTextHoverBorder($WHITE, $color1, #{darken($color1, 13%)}, $color1 );}
@mixin buttonColor1OnWrapperSmall{@include buttonBackgroundTextHoverBorderOnWrapperSmall($color1, $WHITE, $DARKGRAY, #{darken($color1, 5%)} );}

@mixin buttonColor2{@include buttonBackgroundTextHoverBorder($color2, $WHITE, $DARKGRAY, #{darken($color2, 5%)} );}
@mixin buttonColor2Opp{@include buttonBackgroundTextHoverBorder($WHITE, $color2, #{darken($color2, 13%)}, $color2 );}

@mixin buttonColor3{@include buttonBackgroundTextHoverBorder($color3, $WHITE, $DARKGRAY, #{darken($color3, 5%)} );}
@mixin buttonColor3Opp{@include buttonBackgroundTextHoverBorder($WHITE, $color3, #{darken($color3, 13%)}, $color3 );}

@mixin buttonAlt{@include buttonBackgroundTextHoverBorder($colorAlt, $DARKGRAY, $WHITE, #{darken($colorAlt, 5%)} );}
@mixin buttonAltOpp{@include buttonBackgroundTextHoverBorder($WHITE, $colorAlt, #{darken($colorAlt, 13%)}, $colorAlt );}

@mixin buttonColor1OnWrapperSmall{@include buttonBackgroundTextHoverBorderOnWrapperSmall($color1, $WHITE, $DARKGRAY, #{darken($color1, 5%)} );}
@mixin buttonColor2OnWrapperSmall{@include buttonBackgroundTextHoverBorderOnWrapperSmall($color2, $WHITE, $DARKGRAY, #{darken($color2, 5%)} );}
@mixin buttonColor3OnWrapperSmall{@include buttonBackgroundTextHoverBorderOnWrapperSmall($color3, $WHITE, $DARKGRAY, #{darken($color3, 5%)} );}
@mixin buttonColorAltOnWrapperSmall{@include buttonBackgroundTextHoverBorderOnWrapperSmall($colorAlt, $WHITE, $DARKGRAY, #{darken($colorAlt, 5%)} );}

@mixin buttonColorGRAYOnWrapperSmall{@include buttonBackgroundTextHoverBorderOnWrapperSmall($LIGHTERDARKGRAY, $WHITE, $DARKGRAY, #{darken($LIGHTERDARKGRAY, 5%)} );}
/*
 * Region Color Scheme
 */

@mixin regionInnerSchemer($headerBackground, $headerTextColor, $textColor, $bordersColor){
	//BLOCK
	.block{
		border: 1px solid $bordersColor;
		> .block__title{
			background: $headerBackground;
			color: $headerTextColor;
			@include colorDescendantsFont($headerTextColor);
			padding: 2 * $columnPercentPadder;
		}
		@include colorDescendantsFont($textColor);
		> .block__content, > ul.menu{
			padding: 2 * $columnPercentPadder;
		}
		margin-top:5px;
		margin-bottom:5px;
	}
	//JQUERY OVERRIDES 
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
		border-color: $bordersColor;
		background: $headerBackground;
		color: $headerTextColor;
		border-radius:0;
	}
	.ui-selectmenu-button span.ui-selectmenu-text{
		color: $headerTextColor;
	}
	//FONTELLO ICONS DEFAULT
	.view i.icon{
	    background-color: $color1;
	    color: $WHITE;
	}
}
/*
 * Zoom Image Transition
 */
@mixin zoomImage{
	-webkit-transform: scale(1.05,1.07);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1.05,1.07);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}

/*
 * Tab JS Active Vs Inactive (Background, and Color)
 */
 @mixin tabJScolorings($normalBackground, $normalText, $activeBackground, $activeText, $borderNormal, $borderActive){
 		//Normal tab
		border: $borderNormal;
		background-color: $normalBackground;
		color: $normalText;
		a{		
			@include remFontSize($fontS);
			color:$normalText;
		}
		//Active tabs
		&.active, &:hover{
			border: $borderActive;
		}
		//hover tabs - making this a bit different from active helps on mobile
		&:hover{
		}
		//active tabs
		&.active{
			background-color:$activeBackground;
			color:$activeText;
			a{
				color:$activeText;
			}
		}
}	
@mixin borderRadiusIconbgIcon($borderColor, $borderRadius, $iconBackgroundColor, $iconColor){
		border: $borderColor;
		border-radius: $borderRadius;
		.view i.icon{
			background-color: $iconBackgroundColor;
			color: $iconColor;
		}
}  

/*
 * Absolute Centering - No IE8
 */
@mixin centerXYAbsoluteNoIE8{
	//IE8 and below not supported
	position: absolute;
    left: 50%;
    top: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
}
@mixin centerYAbsoluteNoIE8{
	//IE8 and below not supported
	position: absolute;
    top: 50%;
	-webkit-transform: translate(0,-50%); 
	-ms-transform: translate(0,-50%); 
	transform: translate(0,-50%); 
}
@mixin centerXAbsoluteNoIE8{
	//IE8 and below not supported
	position: absolute;
    left: 50%;
	-webkit-transform: translate(-50%,0); 
	-ms-transform: translate(-50%,0); 
	transform: translate(-50%,0); 
}
@mixin centerXYRelativeNoIE8{
	//IE8 and below not supported
	//haven't tested this one yet
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
@mixin centerXRelativeNoIE8{
	//IE8 and below not supported
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
}
@mixin centerYRelativeNoIE8{
	//IE8 and below not supported
	position: relative;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

/*
 * Views Responsive Stylings
 */
@mixin views3Wide1MobileDefault{
	.views-row{
		margin-top:5px;
		margin-bottom:5px;
		padding-bottom:2px;
		position:relative;
		//Wide Columns
		@include breakpoint($breakpointWideP1){
			&:nth-child(3n+1){
				clear:both;
				@include chop3VLeft(33.33%);
			}
			&:nth-child(3n+2){
				@include chop3VMiddle(33.33%);
			}
			&:nth-child(3n+3){
				@include chop3VRight(33.33%);
			}
		};
		//Tablet Columns
		@include breakpoint($mobile2Wide){
			&:nth-child(2n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			&:nth-child(2n+2){
				@include splitVRight(50%);
			}
		};
		//Mobile Columns
		@include breakpoint(0 $breakpointMobile){
			@include oneColumn(100%);
		};
	}
}
@mixin views3Wide2Tablet1MobileDefault{
	.views-row{
		margin-top:5px;
		margin-bottom:5px;
		padding-bottom:2px;
		position:relative;
		//Wide Columns
		@include breakpoint($breakpointWideP1){
			&:nth-child(3n+1){
				clear:both;
				@include chop3VLeft(33.33%);
			}
			&:nth-child(3n+2){
				@include chop3VMiddle(33.33%);
			}
			&:nth-child(3n+3){
				@include chop3VRight(33.33%);
			}
		};
		//Tablet Columns
		@include breakpoint($mobile2Wide){
			&:nth-child(2n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			&:nth-child(2n+2){
				@include splitVRight(50%);
			}
		};
		//Mobile Columns
		@include breakpoint(0 $breakpointMobile){
			@include oneColumn(100%);
		};
	}
}
@mixin views3XWide2Tablet1MobileDefault{
	.views-row{
		margin-top:5px;
		margin-bottom:5px;
		padding-bottom:2px;
		position:relative;
		//Wide Columns
		@include breakpoint($breakpointXWideP1){
			&:nth-child(3n+1){
				clear:both;
				@include chop3VLeft(33.33%);
			}
			&:nth-child(3n+2){
				@include chop3VMiddle(33.33%);
			}
			&:nth-child(3n+3){
				@include chop3VRight(33.33%);
			}
		};
		//Tablet Columns
		@include breakpoint($mobile2XWide){
			&:nth-child(2n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			&:nth-child(2n+2){
				@include splitVRight(50%);
			}
		};
		//Mobile Columns
		@include breakpoint(0 $breakpointMobile){
			@include oneColumn(100%);
		};
	}
}
@mixin views4XWide3Wide2Tablet1MobileDefault{
	.views-row{
		margin-top:5px;
		margin-bottom:5px;
		padding-bottom:2px;
		position:relative;
		//XWide Columns
		@include breakpoint($breakpointXWideP1){
			&:nth-child(4n+1){
				clear:both;
				@include chop4VLeft(25%);
			}
			&:nth-child(4n+2),
			&:nth-child(4n+3){
				@include chop4VMiddle(25%);
			}
			&:nth-child(4n+4){
				@include chop3VRight(25%);
			}
		};
		@include breakpoint($tablet2XWide){
			&:nth-child(3n+1){
				clear:both;
				@include chop3VLeft(33.33%);
			}
			&:nth-child(3n+2){
				@include chop3VMiddle(33.33%);
			}
			&:nth-child(3n+3){
				@include chop3VRight(33.33%);
			}
		};
		//Tablet Columns
		@include breakpoint($mobile2Tablet){
			&:nth-child(2n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			&:nth-child(2n+2){
				@include splitVRight(50%);
			}
		};
		//Mobile Columns
		@include breakpoint(0 $breakpointMobile){
			@include oneColumn(100%);
		};
	}
}
@mixin views4Wide2Tablet1MobileDefaultCarouselSubstitute{
	.views-row{
		margin-top:5px;
		margin-bottom:5px;
		padding-bottom:2px;
		position:relative;
		//Wide Columns
		@include breakpoint($breakpointWideP1){
			&:nth-child(4n+1){
				clear:both;
				@include chop4CsLeft(25%);
			}
			&:nth-child(4n+2),
			&:nth-child(4n+3){
				@include chop4CsMiddle(25%);
			}
			&:nth-child(4n+4){
				@include chop4CsRight(25%);
			}
		};
		//Tablet Columns
		@include breakpoint($mobile2Wide){
			&:nth-child(2n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			&:nth-child(2n+2){
				@include splitVRight(50%);
			}
		};
		//Mobile Columns
		@include breakpoint(0 $breakpointMobile){
			@include oneColumn(100%);
		};
	}
}
@mixin views3Wide1MobileStyle1{
	text-align:center;
	.views-row{
		text-align:left;
		margin-top:5px;
		margin-bottom:5px;
		padding-bottom:2px;
		position:relative;
		//Wide Columns
		@include breakpoint($breakpointWideP1){
			&:nth-child(5n+1){
				clear:both;
				@include chop3VLeft(33.33%);
			}
			&:nth-child(5n+2){
				@include chop3VMiddle(33.33%);
			}
			&:nth-child(5n+3){
				@include chop3VRight(33.33%);
			}
			&:nth-child(5n+4){
			clear:both;
				@include splitVLeft(50%);
			}
			&:nth-child(5n+5){
				@include splitVRight(50%);
			}
			&.views-row-last:nth-child(5n+1),&.views-row-last:nth-child(5n+4){
				display: inline-block;
				float: none;
				width: 50%;
			}
		};
		//Tablet Columns
		@include breakpoint($mobile2Wide){
			&:nth-child(3n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			&:nth-child(3n+2){
				@include splitVRight(50%);
			}
			&:nth-child(3n+3){
				width:100%;
				clear:both;
			}
			&.views-row-last:nth-child(3n+1){
				display: inline-block;
				float: none;
				width: 50%;
			}
		};
		//Mobile Columns
		@include breakpoint(0 $breakpointMobile){
			@include oneColumn(100%);
		};
	}
}
@mixin views6Wide3Tablet2Mobile{
	text-align:center;
	.views-row{
		text-align:left;
		margin-top:5px;
		margin-bottom:5px;
		padding-bottom:2px;
		position:relative;
		//Wide Columns
		@include breakpoint($breakpointWideP1){
			&:nth-child(6n+1){
				clear:both;
				@include chop6VLeft(16.66%);
			}
			&:nth-child(6n+2), &:nth-child(6n+3),
			&:nth-child(6n+4), &:nth-child(6n+5){
				@include chop6VMiddle(16.66%);
			}
			&:nth-child(6n+6){
				@include chop6VRight(16.66%);
			}
		};
		//Tablet Columns
		@include breakpoint($mobile2Tablet){
			&:nth-child(3n+1){
				clear:both;
				@include chop3VLeft(33.33%);
			}
			&:nth-child(3n+2){
				@include chop3VMiddle(33.33%);
			}
			&:nth-child(3n+3){
				@include chop3VRight(33.33%);
			}
		};
		//Mobile Columns
		@include breakpoint(0 $breakpointMobile){
			&:nth-child(2n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			&:nth-child(2n+2){
				@include splitVRight(50%);
			}
		};
	}	
}
@mixin views6Tablet3Mobile2MiniMobileNoPadding{
	text-align:center;
	.views-row{
		text-align:left;
		margin-top:5px;
		margin-bottom:5px;
		padding-bottom:2px;
		position:relative;
		//Wide Columns
		@include breakpoint($breakpointTabletP1){
			&:nth-child(6n+1){
				clear:both;
				@include chopLeftNoPadding(16.66%);
			}
			&:nth-child(6n+2), &:nth-child(6n+3),
			&:nth-child(6n+4), &:nth-child(6n+5){
				@include chopLeftNoPadding(16.66%);
			}
			&:nth-child(6n+6){
				@include chopLeftNoPadding(16.66%);
			}
		};
		//Tablet Columns
		@include breakpoint($mobile2Wide){
			&:nth-child(3n+1){
				clear:both;
				@include chopLeftNoPadding(33.33%);
			}
			&:nth-child(3n+2){
				@include chopLeftNoPadding(33.33%);
			}
			&:nth-child(3n+3){
				@include chopLeftNoPadding(33.33%);
			}
		};
		//Mobile Columns
		@include breakpoint(0 $breakpointMobile){
			&:nth-child(2n+1){
				@include chopLeftNoPadding(50%);
				clear:both;
			}
			&:nth-child(2n+2){
				@include chopLeftNoPadding(50%);
			}
		};
	}	
}

/*
 * GalleryFormatter Responsive Mixin
 */
@mixin galleryFormatterResponsive($containerPercentWidth, $baseWidth){
	//$containerPercentWidth should be only a number (do not append px or %)
	$containerPercentWidth : $containerPercentWidth / 100;//convert to decimal
	$containerPercentWidth : $containerPercentWidth * 0.9;//gallery formatter has some paddings
	.galleryformatter, .galleryformatter .gallery-slides,
	.galleryformatter .gallery-slides .gallery-frame .gallery-slide,
	.galleryformatter .gallery-thumbs{
		width:  $containerPercentWidth * $baseWidth  !important;
	}
}

