/*
 * Region Containers
 */

.l-main{
}
.l-main{
	@include colorDescendantsFont($DARKGRAY);
}
.l-header, .l-footer{
}
.l-header{
	//@include boxshadowBottomLightInset;
	background: url($pathToTheme +'/images/lineMulticolor.png');
    background-position: bottom center;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    padding-bottom:5px;
}
.l-footer{
}


/*
 * Header Regions Stylings
 */
 .l-header .l-superheader {
	background-color: $color1;
	@include colorDescendantsFont($WHITE);
	@include boxshadowBottomLight;
}
.l-header .l-superheader .l-superheader-inner{
	background: url($pathToTheme +'/images/lineGreen.png');
    background-position: bottom center;
    background-size: 100% 2px;
    background-repeat: no-repeat;
}
.l-header .l-region--header{
}
.l-header .l-branding{

}
.l-header .l-region--navigation{
}

/*
 * Content Regions - Stylings
 */ 
/*
 * Mixins Reminder
 * regionInnerSchemer($headerBackground, $headerTextColor, $textColor, $bordersColor)
 * boxBorderRadiusMarginPadding($border, $radius, $margin, $padding)
 */
.l-content {
	.lc-region--inner{
		@include boxBorderRadiusMarginPadding(2px solid transparent, 3px, 10px 0, 1%);
		@include buttonColor1;
		.mainContentC .mccinner{
		}
	}	
}
.l-region--sidebar-first{
	.lc-region--inner{
		@include boxBorderRadiusMarginPadding(2px solid transparent, 3px, 10px 0, 1%);
		@include buttonColor2;
	}	
}
.l-region--sidebar-second{
		.lc-region--inner{
			@include boxBorderRadiusMarginPadding(2px solid transparent, 3px, 10px 0, 1%);
			@include buttonColor3;
		}
}

/*
 * Footer Stylings
 */
footer.l-footer{
	position:relative;
	color: #333;
    background: url($pathToTheme + '/images/prevImg/footer.jpg');
    background-size: 150% auto;
    @include breakpoint(0 $breakpointTablet){
    	background-size: auto 100%;
    }
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 200px;
    #block-menu-menu-footer-links{
    	@include centerXAbsoluteNoIE8;
    	position:absolute;
    	bottom:0; 
    	width:70%;
    	@include backgroundOpacity($WHITE, 0.5);
    	padding: 5px;
    }
}

/*
 * Jquery UI Overrides
 */
.js body{
	.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
		border-color: $GRAY;
		background: $GRAY;
		color: $WHITE;
	}
}




