/*
 * Headings
 */
h1, h2, h3, h4, h5, h6{
	@include headerFontStyle;
}
h1 {
	@include remFontSize($fontXXL);
}
h2 {
	@include remFontSize($fontXL);
}
h3 {
	@include remFontSize($fontL);
}
h4,h5,h6{
	@include remFontSize($fontM);
}

/*
 * Default Buttons Mixin
 */
body{
	@include buttonColor1;
}

/*
 * Lists
 */
ul{
	list-style: none;
}

/*
 * BREADCRUMB
 */
.breadcrumb li {
  padding-right: 0.4em;
}
.breadcrumb li:after {
  content: "»";
  padding-left: 0.4em;
  vertical-align: baseline;
}
.breadcrumb li:last-child:after {
  content: "";
}
.breadcrumb a {
  text-decoration: none;
}

/*
 * Fieldsets
 */

fieldset{
	@include clearboth;
}

/*
 * Back To Top Z Index
 */
 body #backtotop{
	 z-index:1000;
	 bottom:50px;
}

/*
 * DatePicker
 */ 
#ui-datepicker-div{
	//go above google maps widgets
	z-index:501 !important;
	table.ui-datepicker-calendar{
		text-align: center;
		overflow: visible;
		thead,tbody{
			display: inline-block;
		}
	}
}

/*
 *  Footer Background
 */
footer.l-footer{
		.l-region--footer{
			padding:2%;
		}
		nav{
			ul{
				text-align:center;
				>li{
					display:inline-block;
					margin-right: 15px;
					margin-bottom: 8px;
					a{
						text-decoration:none;
					}
					li{
						display:none;
					}
				}
			}
		}
}

/* Share This*/
.sharethis-wrapper{
	max-width:80%;
	text-align:left;
	position:fixed;
	right:0;
	bottom:0;
	border: 1px solid $GRAY;
    z-index: 999;
	padding: 5px 5px 0 5px;
	margin: 5px;
	border-radius:6px;
    @include backgroundOpacity($WHITE, 1);
}


/*
 * Top Menu
 */
.l-superheader{
	nav{
		position:relative;
		> ul.menu{
			width: 100%;
			font-size: 14px;
			line-height: 25px;
			@include breakpoint(0 $breakpointTablet){
				display:none;
			}
			text-align: right;
			@include centerYAbsoluteNoIE8;
			> li{
				list-style: none;
				display: inline-block;
				> a{
					display: block;
					text-decoration:none;
					padding: 12px 30px;
					border-left: 1px solid white;
					@include fontelloBefore;
					&:before{
						position:relative;
						margin-right:8px;
						color: $WHITE;
						font-size: 14px;
						font-weight:bold;
					}
					&#tmenu-Search{
						color: $color1;
						color: transparent;
						letter-spacing: -0.5em;
						padding-left:10px;
						padding-right:13px;
					}
					&#tmenu-Search:before{
						content:'\e82f';
					}
					&#tmenu-SignIn:before{
						content:'\e82d';
					}
					&#tmenu-SubmitListing:before{
						content:'\e82c';
						bottom:1px;
						font-size:16px;
						display:none;
					}
					&#tmenu-SubmitEvent:before{
						content:'\e82b';
						display:none;
					}
					&#tmenu-LogOut:before{
						content:'\e82e';
					}
				}
			}
			ul{
				display:none;
			}
		}
	}
}

.l-header #block-menu-menu-top-menu--2{
	@include breakpoint($breakpointTabletP1){
		display:none;
	}
}
/*
 * Colorbox Style
 */
#colorbox{
	#cboxTitle{
		display:none !important;
	}
}
/*
 * Gallery Formatter Overrides
 */
.galleryformatter {
	.gallery-slides {
		.gallery-frame {
			.gallery-slide {
				text-align: center;
				.panel-overlay {
					display: none;
				}
				img{
					width:100%;
					@include centerXRelativeNoIE8;
				}
			}
		}
	}
	.gallery-thumbs {
		padding: 0px;
	}
}
/*
 * EU Cookie Compliance
 */
#sliding-popup.sliding-popup-top{
	@include clearfix;
	position:fixed;
}

/*
 * Map - Make it thinner
 */
#leaflet-map{
	@include breakpoint(0 $breakpointTablet){
		width:90%;
		margin: 0 auto;
	}
}