/*
 * Region Containers
 */

.l-main{
}
.l-main{
	@include colorDescendantsFont($DARKGRAY);
}
.l-header, .l-footer{
}
.l-header{
	border-bottom: 1px solid $LIGHTGRAY;
}
.l-footer{
}


/*
 * Header Regions Stylings
 */
.l-header .l-superheader{
	background-color: $color1Dark;
	border-bottom: 1px solid $DARKGRAY;
	@include colorDescendantsFont($WHITE);
}
.l-header .l-region--header{
}
.l-header .l-branding{

}
.l-header .l-region--navigation{
}

/*
 * Content Regions - Stylings
 */ 
/*
 * Mixins Reminder
 * regionInnerSchemer($headerBackground, $headerTextColor, $textColor, $bordersColor)
 * boxBorderRadiusMarginPadding($border, $radius, $margin, $padding)
 */
.l-content {
	.lc-region--inner{
		@include boxBorderRadiusMarginPadding(2px solid transparent, 3px, 10px 0, 1%);
		@include regionInnerSchemer($color1, $WHITE, $DARKGRAY, $color1);
		@include buttonColor1;
		.mainContentC .mccinner{
		}
	}	
}
.l-region--sidebar-first{
	.lc-region--inner{
		@include boxBorderRadiusMarginPadding(2px solid transparent, 3px, 10px 0, 1%);
		@include regionInnerSchemer($color2, $WHITE, $DARKGRAY, $color2);
		@include buttonColor2;
	}	
}
.l-region--sidebar-second{
		.lc-region--inner{
			@include boxBorderRadiusMarginPadding(2px solid transparent, 3px, 10px 0, 1%);
			@include regionInnerSchemer($color3, $WHITE, $DARKGRAY, $color3);
			@include buttonColor3;
		}
}

/*
 * Footer Stylings
 */
footer.l-footer{
	background-color:$DARKGRAY;
	@include colorDescendantsFont($WHITE);
}

/*
 * Jquery UI Overrides
 */
.js body{
	.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
		border-color: $GRAY;
		background: $GRAY;
		color: $WHITE;
	}
}




