/*******************************************************************************
 * Off Canvas portion adapted from the Off Canvas Layout
 ******************************************************************************/

/*
 * Responsive Behavior
 */
.l-off-canvas-show, .l-off-canvas-hide {
	display: none;
	position: absolute;
	top: 5px - 1px;
	right: 0;
	z-index: 51;
	background: transparent url("#{$pathToTheme}/images/close.png") center center no-repeat;
	@include accesibleHide;
	left:initial;
	overflow:visible;
	width: 40px;
	height: $superheaderMinHeight - 5px;
}
.l-off-canvas-show {
	background: transparent url("#{$pathToTheme}/images/menu.png") center center no-repeat;
}
@include breakpoint(0 $breakpointTablet) {
	// No JS Fallbacks
	.no-js .l-off-canvas {
		position: relative;
		min-height: 24px;
		padding-right: 24px;
		.l-region {
			position: relative;
			overflow: hidden;
		}
		.l-off-canvas-hide {
			display: block;
		}
		&:target .l-region{
			overflow:visible;
		}
		&:not(:target) {
			.l-region {
				min-height: 0;
				height: 0;
			}
			.l-off-canvas-show {
				display: block;
			}
			.l-off-canvas-hide {
				display: none;
			}
		}
	}

	// JS Enabled Styles
	.js .l-page {
		position: relative;
		height: 100%;
		padding-left: 0%;
	}
	.js .l-superheader{
	}
	.js .l-off-canvas {
		position: absolute;
		z-index: 99;
		width: 80%;
		top: 0;
		bottom: 0;
		@include breakpoint($mobile2Tablet){
			left: -71%;
		};
		@include breakpoint($mini2Mobile){
			left: -67%;
		};
		@include breakpoint(0 $breakpointMini){
			left:-63%;
		};
		@include cssTransition(left 0.2s ease-in);
		cursor: pointer;
		height:$superheaderMinHeight;
		&.is-visible {
			left: 0;
			cursor: auto;
			height:auto;
			.l-region--navigation{
				@include backgroundOpacity($DARKGRAY , 0.92);
				display: block;
				padding-top: $superheaderMinHeight;
			}
			.l-off-canvas-show {
				display: none;
			}
			.l-off-canvas-hide {
				display: block;
			}
		}
		.l-region--navigation{
			display: none;
		}
		.l-off-canvas-show {
			display: block;
		}
	}
}

/*
 * Navigation Region Styling
 */
@include breakpoint(0 $breakpointTablet){
	//JS Side Menu
	.js .l-off-canvas.is-visible{
		.l-region--navigation{
			@include colorDescendantsFont($WHITE);
		}
	}
	//No JS Fallback: In Place Menu
	.no-js .l-off-canvas{
		@include colorDescendantsFont($BLACK);
		min-height: 2 * $logoMobileHeight;
	}
}
//Full Menu
@include breakpoint($breakpointTabletP1){
	.l-region--navigation{
		@include clearfix;
		.block__title{
			@include accesibleHide;
		}
		ul.menu, ul.menu li{
			list-style:none;
			a{
				text-decoration:none;
			}
		}
		@include clearfix;
		> div > ul.menu, > nav > ul.menu, > ul.menu{
			width: 98%;
			max-width: $defaultWindowSize * 1.2;
			margin: 0 auto;
			@include clearfix;
			padding-top:3px;
			text-align:right;
			//First Level Items
			> li{
				position:relative;
				display: inline-block;
				//display:block;
				//float:left;
				> a, > div, > span{
					color:$DARKGRAY;
					padding:10px 12px 15px 12px;
					display:block;
					border-bottom: 1px solid transparent;
					margin-bottom: -1px;
					margin-top: 1px;
					&:hover{
						background-color:$color1;
						color:$WHITE;
						border-bottom: 1px solid $color1Dark;
						margin-bottom: -1px;
						margin-top: 1px;
					}
				}
				//Second Level Container
				> ul{
					display:none;
					@include colorDescendantsFont($DARKGRAY);
					background-color:$color1Light;
					position: absolute;
					top: 100%;
					margin-top:1px;
					left: 0;
					z-index: 52;
					float: left;
					min-width:150px;
					text-align: left;
					> li{
						> a, > div, > span{
							padding:10px 20px;
							display:block;
						}
						&:hover, &.active{
							background-color:$color1Dark;
							a{
								color:$WHITE;
							}
						}
						border-bottom:1px solid $color1Dark;
						&.last{
							border-bottom:0;
						}
					}
					//disable third (or higher) level menu visibility
					ul{
						display:none;
					}
				}
				&:hover > ul{
					display:block;

				}
			}

		}
	}
}


/*
 * Top Menu
 */ 
.l-superheader{
	nav{
		position:relative;
		> ul.menu{
			width: 100%;
			font-size: 14px;
			line-height: 25px;
			@include breakpoint(0 $breakpointTablet){
				display:none;
			}
			text-align: right;
			@include centerYAbsoluteNoIE8;
			> li{
				list-style: none;
				display: inline-block;
				> a{
					display: block;
					text-decoration:none;
					padding: 12px 30px;
  					border-left: 1px solid white;
  					@include fontelloBefore;
  					&:before{
  						position:relative;
  						margin-right:8px;
  						color: $WHITE;
						font-size: 14px;
						font-weight:bold;
  					}
  					&#tmenu-SignIn:before{
  						content:'\e82d';
  					}
  					&#tmenu-SubmitListing:before{
  						content:'\e82c';
  						bottom:1px;
  						font-size:16px;
  					}
  					&#tmenu-SubmitEvent:before{
  						content:'\e82b';
  					}
  					&#tmenu-LogOut:before{
  						content:'\e82e';
  					}
				}
			}
			ul{
				display:none;
			}
		}
	}
}

.l-header #block-menu-menu-top-menu--2{
	@include breakpoint($breakpointTabletP1){
		display:none;
	}
}