body.front{
	.l-region--widetop .views-exposed-form-businesses-and-events-page-results{
		    padding: 20px 5%;
		    text-align:center;
		    .views-exposed-form{
				text-align:left;
				display: inline-block;
				.views-exposed-widget .form-submit{
					margin-top:0;
				}
			}
			
	}
}
