body.front{
	h1.mainPageTitle{
		display:none;
	}
	.mainContentC{
		h2.block__title{
			margin: 0 0 1px 0;
		}
	}
	.lc-region--inner .block > h2.block__title{
		@include remFontSize($fontL);
		@include linearGradient($LIGHTERDARKGRAY, $GRAY);
		color:white;
		padding: 15px 5px;
		text-align:center;
	}
	// Business Categories Block, Category Title
	.view-id-listings_business_and_event_categories.view-display-id-homepage_business_categories{
		.view-content .views-row{
			.views-field.views-field-name{
				@include backgroundOpacity($color1Light, $opacity: 0.68);
			}
		}
	}
	// Event Categories Block, Category Title
	.view-id-listings_business_and_event_categories.view-display-id-homepage_event_categories{
		.view-content .views-row{
			.views-field.views-field-name{
				@include backgroundOpacity($color1Dark, $opacity: 0.68);
			}
		}
	}
	// Business Categories Block, Block Title & Featured Businesses, Block Title
	.homepage_business_categories-container.block, .small_blocks_feat_biz-container.block{
		border-color: transparent;
		.block__content{
			padding: #{$columnPercentPadder * 1} #{$columnPercentPadder * 2};
		}
		h2.block__title{
			@include linearGradient(darken($color1Light,12%), $color1Light);
		}
	}
	// Event Categories Block, Block Title & Featured Events, Block Title
	.homepage_events_categories-container.block, .small_blocks_feat_evs-container.block{
		border-color: transparent;
		.block__content{
			padding: #{$columnPercentPadder * 1} #{$columnPercentPadder * 2};
		}
		h2.block__title{
			@include linearGradient(darken($color1Dark,4%), $color1Dark);
		}
	}
	//Latest Businesses Block, Block Title
	.smallblocks_businesses-container.block{
		border-color: transparent;
		h2.block__title{
			@include linearGradient(darken($color3,4%), $color3);
		}
	}
	//Upcoming Events Block, Block Title
	.smallblocks_events-container.block{
		border-color: transparent;
		h2.block__title{
			@include linearGradient(darken($color3Dark,4%), $color3Dark);
		}
	}
	//Small Block Blog and News, Border
	.small_block_bn_blogs-container.block,
	.small_block_bn_news-container.block{
		border-color: transparent;
	}
	//Main Form
	.l-region--widetop{ 
		.views-exposed-form-businesses-and-events-page-results{
			padding: 20px 5%;
			text-align:center;
			.views-exposed-form{
				padding-top:20px;
				@include breakpoint($tablet2Wide){
					padding-top:35px;
				};
				@include breakpoint($breakpointWideP1){
					padding-top:50px;
				};
				display: inline-block;
				.views-exposed-widget{
					.views-widget{
						text-align:left;
					}
					@include fontelloBefore;
					&:before{
						font-size: 24px;
						margin-bottom: 10px;
						@include backgroundOpacity($color1, .75);
						color: #fff;
						padding: 12px;
						border-radius: 5px 5px 30px 30px;
					}
					float: none;
					padding-top: 10px;
					display: inline-block;
					vertical-align: top;
					.form-submit{
						margin-top:0;
					}
					&#edit-field-category-wrapper{
						&:before{
							content:'\e81b';
							@include backgroundOpacity($color1Light, .87);
						}
					}
					&#edit-field-category-event-wrapper{
						&:before{
							content:'\e81c';
							@include backgroundOpacity($color1Dark, .75);
						}
					}
					&#edit-field-start-datepicker-wrapper{
						&:before{
							content:'\e823';
							@include backgroundOpacity($color1Dark, .75);
						}
					}
					&#edit-field-end-datepicker-wrapper{
						&:before{
							content:'\e824';
							@include backgroundOpacity($color1Dark, .75);
						}
					}
					&#edit-field-hidden-address-geofield-latlon-wrapper{
						&:before{
							content:'\e816';
							@include backgroundOpacity($colorAlt, .75);
						}
					}
					&.views-submit-button{
						@include fontelloBeforeClear;
						min-width:40%;
						vertical-align:bottom;
					}
				}
			}
		}
		#block-views-d400f6dac6873ec2ddd895ba96987fce{
			//background		
			background: url("/sites/all/themes/wttoc/images/prevImg/header.png");
			background-size: auto 230%;
			@include breakpoint($breakpointTabletP1){
				background-size: 150% auto;
			};
			background-repeat: no-repeat;
			min-height: 250px;
			background-position: center center;
		}
	}
}

/*
 * Body and Block Backgrounds
 */
body.front{ 
	.l-header, .l-main  .block__content{
	  background-color:$WHITE;
	}
}
body.front{
  background-color: #D8D8D8;
}
