/*
 * Region Containers
 */

.l-main{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	@include clearfix;
}
.l-header, .l-footer{
	margin-left: auto;
	margin-right: auto;
	@include clearfix;
}
.l-main{
	width:98%;
	max-width: $defaultWindowSize;
	@include breakWord;
}
.l-footer{
	margin-bottom:0;
}

/*
 * Header Regions Responsive Behavior
 */

.l-header .l-superheader{
	min-height: $superheaderMinHeight;
}
.l-header .l-branding{
	width:100%;
	margin-top:7px;
	@include breakpoint($breakpointWideP1){
		@include splitLeft(29%);
	};
	@include breakpoint($tablet2Wide){
		@include splitLeft(25%);	
	};
	.site-logo{
		img{
			height: $logoMobileHeight;
			padding: 3px 10px;
			padding-left: $superheaderMinHeight / 6;
			@include breakpoint($breakpointWideP1){
				height: $logoWideHeight;
			};
			@include breakpoint($tablet2Wide){
				height: $logoTablet2WideHeight;
			};
		}
	}
}
.l-header .l-region--header, .l-header .l-region--navigation{
	width:100%;
	@include breakpoint($breakpointWideP1){
		@include splitRight(71%);	
	};
	@include breakpoint($tablet2Wide){
		@include splitRight(75%);	
	};
}
body.noHeaderRegion .l-header .l-region--navigation{
	@include breakpoint($breakpointWideP1){
		margin-top: $logoWideHeight * 3 / 5;
	};
	@include breakpoint($tablet2Wide){
		margin-top: $logoTablet2WideHeight * 3 / 5;
	};
}
body.hasHeaderRegion .l-header .l-region--navigation{
	@include breakpoint($breakpointWideP1){
		margin-top: $logoWideHeight / 4;
	};
	@include breakpoint($tablet2Wide){
		margin-top: $logoTablet2WideHeight / 5;
	};
}

/*
 * Content Regions Responsive Behavior
 */ 

@mixin contentsidebarDefault{
	width:100% - 2 * $columnPercentPadder;
	padding: $columnPercentPadder;
}

/*Two sidebars.*/
body.two-sidebars{
	/* Content Area Behavior Default, Tablet2Wide, and Wide. */
	.l-content{
		@include contentsidebarDefault;
		float:left;
		@include breakpoint($breakpointWideP1){
			@include chop3Middle(53%);
			/* BECAUSE .l-region--sidebar-first SHOULD COME BEFORE .l-content */
			/* MARGIN-LEFT = WIDTH(.l-region--sidebar-first) + $columnPercentSpacer / 4  */
			/* margin-left: 23.5% + $columnPercentSpacer / 4; COMMENTED OUT - REARRANGED */
		};
		@include breakpoint($tablet2Wide){
			@include splitLeft(73%);
		};
	}
	/* Sidebar Behavior Default, and Tablet2Wide. */
	.l-region--sidebar-first{
		@include contentsidebarDefault;
		@include breakpoint($tablet2Wide){
			@include splitLeft(27%);
		};
	}
	.l-region--sidebar-second{
		@include contentsidebarDefault;
		@include breakpoint($tablet2Wide){
			/*@include splitRight(100%);*/
		};
	}
	/* Sidebar Behavior Wide. */
	.l-region--sidebar-first{
		float: left;
		@include breakpoint($breakpointWideP1){
			@include chop3Left(23.5%);
			/* BECAUSE .l-region--sidebar-first SHOULD COME BEFORE .l-content */
			/* MARGIN-LEFT = -1 * WIDTH(.l-region--sidebar-first + .l-content)  */
			/* margin-left: -76.5%; COMMENTED OUT - REARRANGED*/
		};

	}
	.l-region--sidebar-second{
		float:right;
		@include breakpoint($breakpointWideP1){
			@include chop3Right(23.5%);
		};
	}

}

/* One sidebar */
body.one-sidebar.sidebar-first, body.one-sidebar.sidebar-second{
	/* Content Area*/
	.l-content{
		@include contentsidebarDefault;
		float:right;
		@include breakpoint($breakpointWideP1){
			@include splitRight(70%);
		};
		@include breakpoint($tablet2Wide){
			@include splitRight(66.66%);
		};
	}
	/* Sidebar Area*/
	.l-region--sidebar-first, .l-region--sidebar-second{
		@include contentsidebarDefault;
		float:left;
		@include breakpoint($breakpointWideP1){
			@include splitLeft(30%);
		};
		@include breakpoint($tablet2Wide){
			@include splitLeft(33.33%);
		};
	}
}
/*Move second sidebar to the right*/
body.one-sidebar.sidebar-second{
	.l-content{
		float:left;
	}
	.l-region--sidebar-second{
		float:right;
	}
}

/* Highlighted & Help*/
.l-region--highlighted,.l-region--help{
	@include clearfix;
	@include clearboth;
}



