/*
 * Top Header with Image
 */
.view-id-business_display.view-display-id-fg_image,
.view-id-events_display.view-display-id-e_image{
	.view-content{
		.views-row{
			position:relative;
			.views-field-field-image-gallery{
				overflow:hidden;
				img{
					@include breakpoint(0 $breakpointMobile){
						height:300px;
					}
					@include breakpoint($mobile2Tablet){
						height:340px;
					}
					@include breakpoint($tablet2Wide){
						height:400px;
					}
					height:auto;
					display:block;
					@include centerXRelativeNoIE8;
				}
			}
			.views-field-nothing{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				@include backgroundOpacity($BLACK, 0.3);
				.textInTopBox{
					@include colorDescendantsFont($WHITE);
					@include centerYAbsoluteNoIE8;
					width:100%;
					.titb_Left, .titb_Right{
						padding-left:40px;
						@include breakpoint(0 $breakpointTablet){
							font-weight:bold;
							padding-left:25px;
						}
						@include breakpoint($breakpointTabletP1){
							padding-left:60px;
						}
					}
					.titb_Left{
						@include breakpoint(0 $breakpointTablet){
							//display:block;
							//float:left;
							//width:50%;
						}
						.titb_title{
							font-weight:bold;
							@include breakpoint(0 $breakpointMobile){
								@include remFontSize($fontXL);
								&:before{
									font-size:15px;
									display:none;
								}
								margin-top:20px;
								padding-left:0;
							}
							@include breakpoint($mobile2Tablet){
								@include remFontSize($fontXXL);
								&:before{
									font-size:20px;
									display:none;
								}
								margin-top:30px;
								padding-left:0;
							}
							@include breakpoint($breakpointTabletP1){
								@include remFontSize($fontXXXL);
								&:before{
									font-size:40px;
									display:none;
								}
								margin-top:50px;
								padding-left:0;
							}
						}
						.titb_address{
							&:before{
								content: '\e816';
							}
							.street-block{
								.thoroughfare, .premise{
									display:inline-block;
									margin-right:5px;
									&:after{
										content: ',';
									}
									&:last-child:after{
										display:none;
									}
								}
							}
							.locality-block{
								.locality, .state, .postal-code{
									display:inline-block;
									margin-right:5px;
									&:after{
										content: ',';
									}
									&:last-child:after{
										display:none;
									}
								}
							}
						}
					}
					.titb_Right{
						@include breakpoint(0 $breakpointTablet){
							//display:block;
							//float:left;
							//width:50%;
						}
						.titb_phone{
							&:before{
								content: '\e832';
							}
						}
						.titb_website{
							&:before{
								content: '\e833';
							}
						}
						.titb_email{
							&:before{
								content: '\e834';
							}
						}
					}
					.titb_title, .titb_address, .titb_phone, .titb_website, .titb_email{
						@include breakpoint(0 $breakpointMobile){
							@include remFontSize($fontS);
							margin-bottom:8px;
							margin-left:12px;
						}
						@include breakpoint($mobile2Tablet){
							margin-bottom:14px;
							margin-left:20px;
						}
						@include breakpoint($breakpointTabletP1){
							margin-bottom:20px;
							margin-left:30px;
						}
						position:relative;
						@include fontelloBefore;
						padding-left:30px;
						&:before{
							position:absolute;
							left:0;
							top:0;
							@include centerYAbsoluteNoIE8;
						}
					}
				}
			}
		}
	}
}

/*
 * Field Icons & Other
 */
.mainContentC {
	.view-id-business_display, .view-id-events_display {
		.views-row {
			@include clearfix;
		}
		.views-field {
			padding: 10px 10px;
			margin: 10px 0;
			.field-content {
				h3 {
					display: inline-block;
				}
				i.icon {
					display: inline-block;
					font-size: 25px;
					padding: 8px 5px;
					margin: 9px;
					margin-left: 0;
					border-radius: 10px;
					color: $WHITE;
				}
				.wttocFieldEnclose {
					margin-top: 10px;
					margin-bottom: 10px;
					line-height:1.5em;
					ol, ol li{
						list-style: decimal;
						margin-left:20px;
					}
					ul, ul li{
						list-style: disc;
						margin-left:20px;
					}
					p, ul, ol, h1,h2,h3,h4,h5{
						margin-top:10px;
						margin-bottom:10px;
					}
				}
			}
		}
	}
	.view-id-business_display{
		i.icon{
			background-color:$color3;
		}
	}
	.view-id-events_display{
		i.icon{
			background-color:$color1;
		}
	}

}
body.node-type-event,body.node-type-business-service-or-attraction{
	.mainPageTitle{
		display:none;
	}
	.mainContentC{
		a{
			color:$color1;
		}
	}
	.l-region--sidebar-first, .l-region--sidebar-second {
		.b_title_cont {
			padding: 10px 0;
			margin: 12px 0 8px 0;
			&:before {
				display: none;
			}
			.block__title {
			}
		}
		.fg_opening_hours-container .block__content .view-content{

		}
	}
	.l-region--underlighted{
		.b_title_cont{
			background-color:$colorWPink;
			padding:10px 0 8px 0;
			margin: 10px 0 5px 0;
			@include colorDescendantsFont($WHITE);
			.block__title{
				padding-left:10px;
			}
		}
		.block__content{
			padding: 10px 10px 8px 5px;
		}
	}
}
body.node-type-business-service-or-attraction{
	.l-region--sidebar-first, .l-region--sidebar-second {
		.b_title_cont {
			border-bottom: 2px solid $color3;
		}
	}
	.titb_title:before{
		content: '\e81b' !important;
	}
}
body.node-type-event{
	 .l-region--sidebar-first, .l-region--sidebar-second {
		 .b_title_cont {
			 border-bottom: 2px solid $color1;
		 }
	 }
	.titb_title:before{
		content: '\e81c' !important;
	}
 }
/*
* Social Media Icons
*/
.social-links {
	margin-top:55px;
	.field-label {
		@include fontelloBefore;
		&:before {
			display: inline-block;
			font-size: 25px;
			width:25px;
			padding: 8px 10px;
			margin: 9px;
			margin-left: 0;
			border-radius: 10px;
			color: $WHITE;
			content: '\e837';
		}
		@include remFontSize($fontL);
		font-weight:bold;
	}
	ul {
		@include clearfix;
		li {
			padding-top: 20px !important;
			padding-bottom: 20px !important;
			i.icon {
				border-radius: 30px;
			}
		}
	}
}
body.node-type-business-service-or-attraction{
	.social-links .field-label:before {
		background-color: $colorWPink;
	}
}body.node-type-event{
	 .social-links .field-label:before {
		 background-color: $colorWPink;
	 }
 }
/*
 * Icon Colorings & Other
 */
 .js body.node-type-event .l-content, .js .node-type-business-service-or-attraction .l-content,
 .no-js body.node-type-event .l-content, .no-js .node-type-business-service-or-attraction .l-content{
	 .fg_overview-container, .fg_prices-container, .fg_vouchers-container, .fg_more_info-container{
		.block__title{
			@include colorDescendantsFont($WHITE);
			padding:10px 5px;
		}
	}
	 .e_overview-container, .e_prices-container, .e_vouchers-container, .e_more_info-container{
		 .block__title{
			 @include colorDescendantsFont($WHITE);
			 padding:10px 5px;
		 }
	 }
	 .fg_overview-container,
	 .e_overview-container{
		.field-content i.icon{
			background-color: $color1;
		}
		 .block__title{
			 background-color: $color1;
		 }
		 .views-field-field-video{
			 .player{
				 position: relative;
				 padding-bottom: 56.25%; /* 16:9 */
				 padding-top: 25px;
				 height: 0;
				 iframe{
					 position: absolute;
					 top: 0;
					 left: 0;
					 right:0;
					 width: 90%;
					 margin: 0 auto;
					 height: 100%;
				 }
			 }
		 }
	 }
	 .fg_prices-container,
	 .e_prices-container{
		 .field-content i.icon{
			 background-color: $color2;
		 }
		 .block__title{
			 background-color: $color2;
		 }
	 }
	 .fg_vouchers-container,
	 .e_vouchers-container{
		 .field-content i.icon{
			 background-color: $color3;
		 }
		 .block__title{
			 background-color: $color3;
		 }
	 }
	 .fg_more_info-container,
	 .e_more_info-container{
		 .field-content i.icon{
			 background-color: $colorWViolet;
		 }
		 .block__title{
			 background-color: $colorWViolet;
		 }
	 }
}
/*
 * Tab JS Blocks Tabs
 */
.js body.node-type-business-service-or-attraction .tabJS,
.js body.node-type-event .tabJS{
	//General Tab
	&.tabJS_block--views-business-display-fg-overview,
	&.tabJS_block--views-events-display-e-overview {
		&:before {
			//fontello icon
			content: '\e80b';
		}
		@include tabJScolorings($color1, $WHITE, $color1, $WHITE, 2px solid transparent, 2px solid transparent);
	}
	//Prices
	&.tabJS_block--views-business-display-fg-prices,
	&.tabJS_block--views-events-display-e-prices {
		&:before {
			//fontello icon
			content: '\e839';
		}
		@include tabJScolorings($color2, $WHITE, $color2, $WHITE, 2px solid transparent, 2px solid transparent);
	}
	//Vouchers
	&.tabJS_block--views-business-display-fg-vouchers,
	&.tabJS_block--views-events-display-e-vouchers {
		&:before {
			//fontello icon
			content: '\e815';
		}
		@include tabJScolorings($color3, $WHITE, $color3, $WHITE, 2px solid transparent, 2px solid transparent);
	}
	//More Info Tab
	&.tabJS_block--views-business-display-fg-more-info,
	&.tabJS_block--views-events-display-e-more-info {
		&:before {
			//fontello icon
			content: '\e819';
		}
		@include tabJScolorings($colorWViolet, $WHITE, $colorWViolet, $WHITE, 2px solid transparent, 2px solid transparent);
	}
}
