
/*
 * Business & Events Displays
 */
 //All results
.view-id-listings_business_and_event_categories.view-display-id-homepage_event_categories,
.view-id-listings_business_and_event_categories.view-display-id-homepage_business_categories{
	.view-content{	
		@include views3Wide1MobileStyle1;
		.views-row{
			padding-bottom:0;
			//Field Row Styling
			.views-field{
				position:relative;
				padding:7px 0;
				margin-left:7px;
				margin-right:7px;
				border-top:1px solid $DARKERLIGHTGRAY;
				@include fontelloBefore;
				&:before{
					background-color: $color1;
					color:$WHITE;
					line-height: 20px;
					height:20px;
					width: 20px;
					padding:2px;
					border-radius: 3px;
					position:absolute;
					bottom:0;
					top:0;
					left:8px;
					margin:auto;
				}
				.field-content{
					display:block;
					padding-left:40px;
				}
			}
			.views-field.views-field-field-category-image{
				@include fontelloBeforeClear;
				padding:0;
				margin:0;
				border:0;
				overflow:hidden;
				.field-content{
					padding:0;
					line-height:0;
				}
				img{
					width:100%;
				}
			}
			.views-field.views-field-name{
				@include centerXYAbsoluteNoIE8;
				@include backgroundOpacity($LIGHTERDARKGRAY, $opacity: 0.48);
				@include fontelloBeforeClear;
				width: 65%;
				margin:0;
				border:0;
				padding:0;
				.field-content{
					padding:6px;
					padding-left:6px;
					text-align:center;
				}
				@include colorDescendantsFont(WHITE);
				span,a{
					@include remFontSize($fontL);
					@include breakpoint($breakpointWideP1){
						@include remFontSize($fontM);
					};
					text-decoration:none;
				}
			}
			//Row Border
			outline:1px solid $DARKERLIGHTGRAY;
			@include clearfix;
			//Row Focus Effect
			&:hover{
				@include boxShadowView;
				.views-field.views-field-field-category-image{ 
					img{
						@include zoomImage;
					}
					outline:1px solid $GRAY;
					overflow:hidden;
				}
			}
		}
		//View content
		@include clearfix;
		margin:6px 0 3px 0;
	}
}

/* 
 * We have two Views, one as a Block and one as a Page
 * Only one of each filter/pager should be visible
 * More at theme's js/wttoc.allBizEvents.js
 */
 
//Hide Views Page Filters
.view-id-businesses_and_events.view-display-id-page_results #views-exposed-form-businesses-and-events-page-results{
	display:none;
}
//Hide Views Page Pagers
.view-id-businesses_and_events.view-display-id-page_results ul.pager{
	//display:none;
}
//Hide Views Block Lat Lon Field 
.view-display-id-map_and_filters .views-widget-filter-field_hidden_address_geofield_latlon_1{
	display:none;
}
