/*
 * Business & Events Displays
 */
 //All results
.view-id-businesses_and_events.view-display-id-page_results{
	.view-content{	
		@include views3Wide1MobileDefault;
		.views-row{
			//Field Row Styling
			.views-field{
				position:relative;
				padding:7px 0;
				margin-left:7px;
				margin-right:7px;
				border-top:1px solid $DARKERLIGHTGRAY;
				@include fontelloBefore;
				&:before{
					background-color: $color1;
					color:$WHITE;
					line-height: 20px;
					height:20px;
					width: 20px;
					padding:2px;
					border-radius: 3px;
					position:absolute;
					bottom:0;
					top:0;
					left:8px;
					margin:auto;
				}
				.field-content{
					display:block;
					padding-left:40px;
				}
			}
			.views-field.views-field-type{
				padding:4px;
				border-top:0;
				position:absolute;
				top:0;
				right:0;
				min-width:30px;
				max-width:30px;
				min-height:30px;
				z-index:1;
				margin:0 0 0 0;
				border-bottom-left-radius:3px;
				overflow:hidden;
				@include backgroundOpacity($color1Light,0.8);
				@include cssTransition(all 0.35s ease-in-out);
				&:before{
					background-color:$WHITE;
					color:$color1Light;
				}
				.field-content{
					@include accesibleHide;
					min-width:80px;
					color:$WHITE;
					font-weight:bold;
					margin-top:5px;
					text-align:center;
				}
			}
			//content type icons
			&.rowContentType-business-service-or-attraction{
				.views-field.views-field-type:before{
					content:'\e81b';
				}
			}
			&.rowContentType-event{
				.views-field.views-field-type:before{
					content:'\e81c';
				}
			}
			&:hover{
				.views-field.views-field-type{
					max-width:150px;
					.field-content{
						@include accesibleUnhide;
						text-align:center;	
					}
				}
			}
			//other fields
			.views-field.views-field-field-image-gallery{
				@include fontelloBeforeClear;
				padding:0;
				margin:0;
				border:0;
				.field-content{
					padding:0;
				}
				img{
					max-width:100%;
				}
			}
			.views-field.views-field-title{
				@include fontelloBeforeClear;
				border:0;
				.field-content{
					padding-left:4px;
				}
				@include colorDescendantsFont($color1);
				span,a{
					@include remFontSize($fontL);
					text-decoration:none;
				}
			}
			//Fontello icons 
			.views-field-field-date-of-event{
				&:before{
					content:'\e81c';
				}
			}
			.views-field-field-address{
				&:before{
					content:'\e816';
				}
			}
			.views-field-field-category-event, .views-field-field-category{
				&:before{
					content:'\e81e';
				}
			}
			//Row Border
			outline:1px solid $DARKERLIGHTGRAY;
			@include clearfix;
			//Row Focus Effect
			&:hover{
				@include boxShadowView;
				.views-field.views-field-field-image-gallery{ 
					img{
						@include zoomImage;
					}
					outline:1px solid $GRAY;
					overflow:hidden;
				}
			}
		}
		//View content
		@include clearfix;
	}
}

/* 
 * We have two Views, one as a Block and one as a Page
 * Only one of each filter/pager should be visible
 * More at theme's js/wttoc.allBizEvents.js
 */
 //only do this on the page, not everywhere else
 body.page-search-businesses-and-events{
	//Hide Views Page Filters
	#block-views-d400f6dac6873ec2ddd895ba96987fce, form#views-exposed-form-businesses-and-events-page-results{
		display:none;
	}
	//Hide Views Page Pagers - disabled
	.view-id-businesses_and_events.view-display-id-page_results ul.pager{
		//display:none;
	}
}
//Hide Views Lat Lon Field 
.view-id-businesses_and_events .views-widget-filter-field_hidden_address_geofield_latlon_1, 
form#views-exposed-form-businesses-and-events-page-results .views-widget-filter-field_hidden_address_geofield_latlon_1{
	display:none;
}
