$vsbImageWidth: 75px;
$vsbImageHeight: $vsbImageWidth;
$vsbPadMarg: 8px;

.l-content .view-id-small_blocks_businesses_and_or_events .view-content{
	@include clearfix;
	@include views3Wide1MobileDefault;
}

.l-region--sidebar-second, .l-region--sidebar-first{
	.view-id-small_blocks_businesses_and_or_events .view-content{
		@include breakpoint($mobile2Tablet){
			@include clearfix;
			.views-row{
			    @include clearfix;
			}
			.views-row:nth-child(2n+1){
				@include splitVLeft(50%);
				clear:both;
			}
			.views-row:nth-child(2n+2){
				@include splitVRight(50%);
				clear:none;
			}
		};	
	}
}

.view-id-small_blocks_businesses_and_or_events{
	.view-content{
		.views-row{
			border-bottom: 1px solid $DARKERLIGHTGRAY;
			margin-bottom: $vsbPadMarg;
			padding-bottom: $vsbPadMarg/2;
			padding-top: $vsbPadMarg/2;
			position:relative;
			min-height:$vsbImageHeight + ($vsbPadMarg);
			//left image & icons region
			.views-field.views-field-nothing{
				max-width:$vsbImageWidth;
				overflow:hidden;
				position:absolute;
				top:$vsbPadMarg/2;
				left:0;
				padding-left:0;
				.teaser__first-wrapper{
					max-height: $vsbImageHeight;
					//verified icon
					.verified-container{
						display:none;
						&.typeContainerShow{//if the content is verified, this class will exist
							display:block;
						}
						@include fontelloBefore;
						&:before{
							content:'\e825';
							font-size: 12px;
							padding: 3px;
							position: absolute;
							margin: 0 !important;
							top: 5px;
							right: 5px;
							border-radius:10px;
							z-index:1;
						}
						.verified-container-inner{
							@include accesibleHide;
						}
					}
					//image 
					.image-container{
						img{
							width: $vsbImageWidth;
						}
					}
					//content type icon
					.type-container{
						@include fontelloBefore;
						&:before{
							font-size: 17px;
							padding: 3px;
							position: absolute;
							margin: 0 !important;
							left: 0;
							bottom: 0;
							border-top-right-radius:5px;
							z-index:1;
						}
						.type-container-inner{
							@include accesibleHide;
						}
					}
				}//end of-teaser left-wrapper
			}//end of views-field-nothing
			//views fields
			.views-field{
				padding-left: $vsbImageWidth;
			}
			.views-field-title,.views-field-field-address,
			.views-field-field-date-of-event{
				.field-content{
					display: block;
				}
			}
			.views-field-title .field-content{
				@include remFontSize($fontS);
				padding: 0 5px 5px 10px;
			}
			.views-field-field-address .field-content,.views-field-field-date-of-event .field-content{
				position:relative;
				@include fontelloBefore;
				&:before{
					@include centerYAbsoluteNoIE8;
				}
				> div, >span{
					display:inline-block;
					padding-left:22px;
				}
				padding: 2px 5px 2px 2px;
				.locality, .state, .postal-code,span{
					@include remFontSize($fontXXS);
				}
			}
			//per field icons
			//address icon
			.views-field-field-address .field-content:before{
				content:'\e816';
			}
			//date icon
			.views-field-field-date-of-event .field-content:before{
				content: '\e81c';
			}
			//per content type rows
			//business content type
			&.rowContentType-business-service-or-attraction .views-field.views-field-nothing .teaser__first-wrapper{
				.type-container:before{
					content:'\e81b';
				}
			}
			//event content type 
			&.rowContentType-event .views-field.views-field-nothing .teaser__first-wrapper{
				.type-container:before{
					content:'\e81c';
				}
			}
			//Row Focus Effect
			&:hover{
				.image-container{ 
					img{
						@include zoomImage;
					}
					outline:1px solid $GRAY;
					overflow:hidden;
				}
			}
		}//end of views row
	}
}


/*
 * Local helper mixin for row coloring
 */
@mixin schemeRowColorSmallBlocksBE($colorRow){
	.views-field.views-field-nothing .teaser__first-wrapper{
		//verified icon color
		.verified-container:before{
			background-color:$colorRow;
			color: $WHITE;
		}
		//content type icon color
		.type-container:before{
			background-color:$colorRow;
			color: $WHITE;
		}
	}
	//title color
	.views-field-title .field-content{
		@include colorDescendantsFont($colorRow);
	}
	//other icons color
	.views-field-field-address .field-content,.views-field-field-date-of-event .field-content{
		&:before{
			color:$colorRow;
		}
	}
}
/*
 * Color depending on region & Content Type
 */ 
.l-content{
	.view-id-small_blocks_businesses_and_or_events .views-row{
		&.rowContentType-business-service-or-attraction{
			@include schemeRowColorSmallBlocksBE($color1Light);
		}
		&.rowContentType-event{
			@include schemeRowColorSmallBlocksBE($color1Dark);
		}
	}
}
.l-region--sidebar-first{
	.view-id-small_blocks_businesses_and_or_events .views-row{
		&.rowContentType-business-service-or-attraction{
			@include schemeRowColorSmallBlocksBE($color2);
		}
		&.rowContentType-event{
			@include schemeRowColorSmallBlocksBE($color2Dark);
		}
	}
}
.l-region--sidebar-second{
	.view-id-small_blocks_businesses_and_or_events .views-row{
		&.rowContentType-business-service-or-attraction{
			@include schemeRowColorSmallBlocksBE($color3);
		}
		&.rowContentType-event{
			@include schemeRowColorSmallBlocksBE($color3Dark);
		}
	}	
}