/*.view-id-pages_blogs_news.view-display-id-page_blog,
.view-id-pages_blogs_news.view-display-id-page_news{
	.views-row{
		@include clearfix;
		.views-field{
			width:65% - $columnPercentSpacer;
			margin-left: $columnPercentSpacer;
			float:right;
		}
		.views-field.views-field-field-image-gallery{
			width:35% - $columnPercentSpacer;
			margin-right: $columnPercentSpacer;
			margin-left:0;
			float:left;
			img{
				width:100%;
			}
		}
		.views-field.views-field-title{
			@include remFontSize($fontXL);
			font-weight:bold;
			margin-bottom: 8px;
			a{
				text-decoration:none;
			}
		}
		.views-field.views-field-field-body{
			color: $DARKGRAY;
			a{
				color:$color1;
			}
		}
		.views-field.views-field-created{
		}
		.views-field.views-field-field-post-type{
		}
		@include breakpoint(0 $breakpointTablet){
			.views-field.views-field-field-body{
				display:none;
			}
		}
		@include breakpoint(0 $breakpointMobile){
			.views-field{
				width:65% - $columnPercentSpacer;
				margin-left: $columnPercentSpacer;
			}
			.views-field.views-field-field-image-gallery{
				width:35% - $columnPercentSpacer;
				margin-right: $columnPercentSpacer;
				margin-left:0;
			}
		};
		@include breakpoint($mobile2Tablet){
			.views-field{
				width:70% - $columnPercentSpacer;
				margin-left: $columnPercentSpacer;
			}
			.views-field.views-field-field-image-gallery{
				width:30% - $columnPercentSpacer;
				margin-right: $columnPercentSpacer;
				margin-left:0;
			}
		}
		@include breakpoint($tablet2Wide){
			.views-field{
				width:74% - $columnPercentSpacer;
				margin-left: $columnPercentSpacer;
			}
			.views-field.views-field-field-image-gallery{
				width:26% - $columnPercentSpacer;
				margin-right: $columnPercentSpacer;
				margin-left:0;
			}
		}
		@include breakpoint($breakpointWideP1){
			.views-field{
				width:78% - $columnPercentSpacer;
				margin-left: $columnPercentSpacer;
			}
			.views-field.views-field-field-image-gallery{
				width:22% - $columnPercentSpacer;
				margin-right: $columnPercentSpacer;
				margin-left:0;
			}
		}
	}
}*/
.view-id-pages_blogs_news{
	.view-content{
		@include views3Wide2Tablet1MobileDefault;
		.views-row{
			padding-top:0;
			margin-top:1%;
			position:relative;
			.views-field.views-field-field-image-gallery{
				img{
					width:100%;
				}
			}
			.views-field.views-field-title{
				@include colorDescendantsFont($color1);
				@include remFontSize($fontL);
				margin:10px 0 7px 0;
				padding: 0 5px;
			}
			.views-field.views-field-field-body{
				padding:0 5px 10px 5px;

			}
			.views-field.views-field-url{
				@include buttonColor1OnWrapperSmall;
			}
			.views-field.views-field-nothing{
				position:absolute;
				top:0;
				right:10px;
				.postMonthDay{
					text-align:center;
					.pmd_month{
						background-color:$BLACK;
						color: $WHITE;
						padding:15px;
						@include remFontSize($fontM);
					}
					.pmd_day{
						background-color:$WHITE;
						color:$DARKGRAY;
						padding:10px;
						@include remFontSize($fontM);
					}
				}
			}
		}
	}
}
body.page-posts{
	.l-region--sidebar-first, .l-region--sidebar-second{
		.block__title{
			margin: 10px 0 8px 0;
			@include remFontSize($fontL);
			font-weight:bold;
		}
		.block--facetapi{
			margin-bottom:25px;
			ul.facetapi-facetapi-links{
				@include clearfix;
				li{
					@include fontelloAfter;
					border-bottom:1px solid #ddd;
					padding:10px 6px;
					&:after{
						float:right;
						color:#ddd;
						font-weight:bold;
					}
				}
			}
			ul#facetapi-facet-search-apiposts-blogs-and-news-block-field-post-categories{
				li:after{
					content:'\e838';
				}
			}
			ul#facetapi-facet-search-apiposts-blogs-and-news-block-created{
				li:after{
					content:'\e81c';
				}
			}
		}
	}
}
