/*
 * General settings
 */
$defaultWindowSize: 1300px;
$columnPercentSpacer:1%;
$columnPercentPadder:1%;
$logoMobileHeight:33px;
$pathToTheme:"/sites/all/themes/wttoc";
$superheaderMinHeight:50px;

/*
 * Breakpoints
 */
$breakpointXWide:1280px;
$breakpointWide:1024px;
$breakpointTablet:768px;
$breakpointMobile:430px;
$breakpointMini:320px;

/*
 * Breakpoints Plus 1px
 */
$breakpointXWideP1:$breakpointXWide + 1px;
$breakpointWideP1:$breakpointWide + 1px;
$breakpointTabletP1:$breakpointTablet + 1px;
$breakpointMobileP1: $breakpointMobile + 1px;
$breakpointMiniP1: $breakpointMini + 1px;

/*
 * Combined Breakpoints - 1 Level
 */
$wide2XWide: $breakpointWideP1 $breakpointXWide;
$tablet2Wide: $breakpointTabletP1 $breakpointWide;
$mobile2Tablet: $breakpointMobileP1 $breakpointTablet;
$mini2Mobile: $breakpointMiniP1 $breakpointMobile;

/*
 * Combined Breakpoints - 2 Level
 */
$tablet2XWide: $breakpointTabletP1 $breakpointXWide;
$mobile2Wide: $breakpointMobileP1 $breakpointWide;
$mini2Tablet: $breakpointMiniP1 $breakpointTablet;

/*
 * Combined Breakpoints - 3 Level
 */
$mobile2XWide: $breakpointMobileP1 $breakpointXWide;
$mini2Wide: $breakpointMiniP1 $breakpointXWide;


/*
 * Font Size (1 =~ 10px)
 * Do not use px, rem, or em here. 
 */
$fontXXXL:4.3;
$fontXXL:3.5;
$fontXL:2.4;
$fontL:2.2;
$fontM:1.9;
$fontS:1.7;
$fontXS:1.5;
$fontXXS:1.3;
$fontXXXS:1.1;

/*
 * Theme Palette
 * Light and Blue Colors Work Better If They're Desaturated As Well
 */

$color1:#5675CE;/* Blue*/
//$color1Light:lighten($color1, 10%);
$color1Light: #69D1F5;
$color1Dark:darken($color1, 20%);
$color2:#FE974E;/*Orange*/
$color2Light:lighten($color2, 7%);
$color2Dark:darken($color2, 9%);
$color3: #66CD4C;/*Green*/
$color3Light:lighten($color3, 7%);
$color3Dark:darken($color3, 22%);
$colorAlt:#FFC632;/*Yellow*/
$colorAltLight: lighten($colorAlt, 3.5%);
$colorAltDark: darken($colorAlt, 3.5%);

/*
 * Colors
 */
$BLACK:#000;
$DARKGRAY:#333;
$LIGHTERDARKGRAY: #565656;
$GRAY:#888;
$DARKERLIGHTGRAY: #a2a2a2;
$GRAYC: #c9c9c9;
$LIGHTGRAY:#e8eaea;
$WHITE:#fff;

$colorWPink:#FC5161;
$colorWPinkLight:#FF9191;
$colorWViolet:#C861BA;
$colorWVioletLight:#F881CA;
$colorWGreen: $color3;

/*
 *  Extra Derived Variables
 */
$logoWideHeight: 0.85 * $logoMobileHeight * $breakpointWide / $breakpointMobile;
$logoTablet2WideHeight: 0.85 * $logoMobileHeight * $breakpointTablet / $breakpointMobile;

