/*
 * General settings
 */
$defaultWindowSize: 1300px;
$columnPercentSpacer:1%;
$columnPercentPadder:1%;
$logoMobileHeight:33px;
$pathToTheme:"/sites/all/themes/wttoc";
$superheaderMinHeight:50px;

/*
 * Breakpoints
 */
$breakpointXWide:1300px;
$breakpointWide:1024px;
$breakpointTablet:768px;
$breakpointMobile:430px;
$breakpointMini:320px;

/*
 * Breakpoints Plus 1px
 */
$breakpointXWideP1:$breakpointXWide + 1px;
$breakpointWideP1:$breakpointWide + 1px;
$breakpointTabletP1:$breakpointTablet + 1px;
$breakpointMobileP1: $breakpointMobile + 1px;
$breakpointMiniP1: $breakpointMini + 1px;

/*
 * Combined Breakpoints - 1 Level
 */
$wide2XWide: $breakpointWideP1 $breakpointXWide;
$tablet2Wide: $breakpointTabletP1 $breakpointWide;
$mobile2Tablet: $breakpointMobileP1 $breakpointTablet;
$mini2Mobile: $breakpointMiniP1 $breakpointMobile;

/*
 * Combined Breakpoints - 2 Level
 */
$tablet2XWide: $breakpointTabletP1 $breakpointXWide;
$mobile2Wide: $breakpointMobileP1 $breakpointWide;
$mini2Tablet: $breakpointMiniP1 $breakpointTablet;

/*
 * Font Size (1 =~ 10px)
 * Do not use px, rem, or em here. 
 */
$fontXXXL:4.3;
$fontXXL:3.5;
$fontXL:2.4;
$fontL:2.2;
$fontM:1.9;
$fontS:1.7;
$fontXS:1.5;
$fontXXS:1.3;
$fontXXXS:1.1;

/*
 * Colors
 */
$BLACK:#000;
$DARKGRAY:#333;
$LIGHTERDARKGRAY: #565656;
$GRAY:#888;
$DARKERLIGHTGRAY: #a2a2a2;
$LIGHTGRAY:#e8eaea;
$WHITE:#fff;


/*
 * Theme Palette
 * Light and Blue Colors Work Better If They're Desaturated As Well
 */
//$color1:#00CBE9;/*Light Blue*/
//$color1Light:#C3DAE3;
//$color1Dark:#015063;
//$color1:#035163;/* Blue*/
//$color1Light:#407D8B;
//$color1Dark:#002A34;
$color1:#5573b4;/* Blue*/
//$color1Light:#7696cf;
$color1Light:#8CAFBE;
$color1Dark:#015063;

$color2:#FD8A33;/*Orange*/
$color2Light:#FFB882;
$color2Dark:#B04D00;
$color3:#8CC541;/*Light Green*/
//$color3Light:#C8F094;
$color3Light:#AEEC54;
$color3Dark:#51870B;
//$color3Dark:#62872C;
$colorAlt:#ffde00;/*BrightYellow*/
$colorAltLight: lighten($colorAlt, 3.5%);
$colorAltDark: darken($colorAlt, 3.5%);
/*
 * Other Possible Palette
 * $color1:#aa6c39;
 * $color2:#aa9b39;
 * $color3:#7d2a69;
 * $color1Light:#d49a6a;
 * $color1Dark:#804515;
 * $colorAlt:#5a5;
 */

/*
 *  Extra Derived Variables
 */
$logoWideHeight: 0.85 * $logoMobileHeight * $breakpointWide / $breakpointMobile;
$logoTablet2WideHeight: 0.85 * $logoMobileHeight * $breakpointTablet / $breakpointMobile;

