/*
 * General settings
 */
$defaultWindowSize: 1250px;
$columnPercentSpacer:1%;
$logoMobileHeight:40px;
$pathToTheme:"/sites/all/themes/wttoc";
$superheaderMinHeight:60px;
/*
 * Breakpoints
 */
$breakpointXWide:1300px;
$breakpointWide:1024px;
$breakpointTablet:768px;
$breakpointMobile:400px;
$breakpointMini:320px;

/*
 * Breakpoints Plus 1px
 */
$breakpointXWideP1:$breakpointXWide + 1px;
$breakpointWideP1:$breakpointWide + 1px;
$breakpointTabletP1:$breakpointTablet + 1px;
$breakpointMobileP1: $breakpointMobile + 1px;
$breakpointMiniP1: $breakpointMini + 1px;

/*
 * Combined Breakpoints - 1 Level
 */
$wide2XWide: $breakpointWideP1 $breakpointXWide;
$tablet2Wide: $breakpointTabletP1 $breakpointWide;
$mobile2Tablet: $breakpointMobileP1 $breakpointTablet;
$mini2Mobile: $breakpointMiniP1 $breakpointMobile;

/*
 * Combined Breakpoints - 2 Level
 */
$tablet2XWide: $breakpointTabletP1 $breakpointXWide;
$mobile2Wide: $breakpointMobileP1 $breakpointWide;
$mini2Tablet: $breakpointMiniP1 $breakpointTablet;

/*
 * Font Size (1 =~ 10px)
 * Do not use px, rem, or em here. 
 */
$fontXXXL:4.3;
$fontXXL:3.5;
$fontXL:2.4;
$fontL:2.2;
$fontM:1.9;
$fontS:1.7;
$fontXS:1.5;
$fontXXS:1.3;
$fontXXXS:1.1;

/*
 * Colors
 */
$BLACK:#000;
$DARKGRAY:#333;
$LIGHTGRAY:#f3efef;
$WHITE:#fff;


/*
 * Theme Palette
 */
$color1:#00CBE9;/*Light Blue*/
$color2:#FD8A33;/*Orange*/
$color3:#8BC53F;/*Light Green*/
$color1Light:#C3DAE3;/*Light Blue Gray*/
$color1Dark:#015063;/*Dark Blue Gray*/
$colorAlt:#E792B5;/*Dull Pink*/

/*
 * Other Possible Palette
 * $color1:#aa6c39;
 * $color2:#aa9b39;
 * $color3:#7d2a69;
 * $color1Light:#d49a6a;
 * $color1Dark:#804515;
 * $colorAlt:#5a5;
 */


